<% @title = "AWON Station Info" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
<% end %>

<h2>AWON Station Info</h2>
<table border="1">
  <tr>
    <th>Location</th><th>Lat, Long</th><th>Wind Sensor?</th><th>Humidity?</th><th>From-To</th>
  </tr>
  <% for stn in @stns do %>
  <% from = @stn_dates[stn[:id]][0] %>
  <% to = @stn_dates[stn[:id]][1]%>
    <tr>
      <td><%= status_boldness(stn).html_safe %><%= stn.name %></span></td>
      <td><%= stn.latitude %>, <%= stn.longitude %></td>
      <td><%= stn.wind == "T" ? "Yes" : "No" %></td>
      <td><%= stn.humidity == "T" ? "Yes" : "No" %></td>
      <td><%= status_boldness(stn).html_safe %><%= from %> - <%= to %></span></td>
      <p></p>
    </tr>
  <% end %>
</table>

<%= content_for :footer do %>
  <%= link_to "Back", action: :index %>
<% end %>


