<p>Degree Days from January 1, <%= end_date.strftime("%Y") %> to <%= end_date.strftime("%B %d, %Y") %>:</p>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Min temp</th>
      <th>Max temp</th>
      <th>DDs</th>
      <th>Cumul. DDs</th>
      <th>Oak wilt risk</th>
    </tr>
  </thead>
  <tbody>
  <% @data.each_with_index do |day, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= day[:date] %></td>
      <td><%= day[:min_temp] %></td>
      <td><%= day[:max_temp] %></td>
      <td><%= day[:value] %></td>
      <td><%= day[:cumulative_value] %></td>
      <td><%= day[:risk] %>
    </tr>
  <% end %>
  </tbody>
</table>
