<p>Degree Days from January 1, <%= end_date.strftime("%Y") %> to <%= end_date.strftime("%B %d, %Y") %>:</p>
<table class="grid-table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Date</th>
      <th>Min<br>temp</th>
      <th>Max<br>temp</th>
      <th>FDDs</th>
      <th>Cumul.<br>FDDs</th>
      <th>Oak wilt risk</th>
    </tr>
  </thead>
  <tbody>
  <% @data.each_with_index do |day, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= day[:date] %></td>
      <td><%= day[:min_temp] %></td>
      <td><%= day[:max_temp] %></td>
      <td><%= day[:value] %></td>
      <td><%= day[:cumulative_value] %></td>
      <td><%= day[:risk] %>
    </tr>
  <% end %>
  </tbody>
</table>
