<%= form_tag action: action do %>
  <p>
    Navigation:
    <label><%= submit_tag "Prev day: #{@date - 1}", name: :date %></label>&nbsp;
    <% if @date < Date.yesterday %><label><%= submit_tag "Next day: #{@date + 1}", name: :date %></label>&nbsp;<% end %>
    <label><%= submit_tag "Latest: #{Date.yesterday}", name: :date %></label>
  </p>
<% end %>
<%= form_tag action: action do %>
  <p>
    Or enter a specific date: <%= text_field_tag :date %>
    <%= submit_tag "Go" %>
  </p>
<% end %>
