<%= form_tag action: action do %>
  <p>
    Previous day: <%= submit_tag @date - 1, name: :date %>&nbsp;
    Next day: <%= submit_tag @date + 1, name: :date %>&nbsp;
    Latest: <%= submit_tag Date.yesterday, name: :date %>
  </p>
<% end %>
<%= form_tag action: action do %>
  <p>
    Or enter a specific date: <%= text_field_tag :date %>
    <%= submit_tag "Go" %>
  </p>
<% end %>
