<%= form_tag action: :get_dds do %>
  <fieldset style="width: fit-content; padding: 10px;">
    <legend>Enter parameters:</legend>

    <%= select_tag :latitude, options_for_select(latitudes) %> <label for="latitude"> Latitude</label>
    <%= select_tag :longitude, options_for_select(longitudes) %><label for="longitude"> Longitude</label>
    <br>

    <% if @dd_methods.size > 1 %>
      <p>
      <% @dd_methods.each do |method| %>
        <%= radio_button_tag 'method', method, method == @dd_methods[0] %> <%= method %><br>
      <% end %>
      </p>
    <% else %>
      <p><input type="hidden" name="method" value="<%= @dd_methods[0] %>"/></p>
    <% end %>

    <p>
      <%= date_select :grid_date, :start_date, start_year: Time.now.year - 4, end_year: Time.now.year, default: Date.civil(Date.today.year,1,1) %> Biofix (start) date<br>
      <%= date_select :grid_date, :end_date, start_year: Time.now.year - 4, end_year: Time.now.year, default: 1.day.ago %> End date
    </p>

    <p>
      <%= text_field_tag  :base_temp, 50, {size: 3 }%> Lower threshold temperature (Degrees F):<br>
      <%= text_field_tag  :upper_temp, 'None', {size: 3} %> Upper threshold (F)
    </p>

    <p>
      <%= check_box_tag :seven_day %> Report only last 7 days of accumulated values<br/>
      <%= radio_button_tag 'format', 'html', true %> View in browser&nbsp;<%= radio_button_tag 'format', 'csv' %> Download as CSV&nbsp;<%= radio_button_tag 'format', 'json' %> Download as JSON
    </p>

    <%= submit_tag "Get Data Series "%>
  </fieldset>
<% end %>
