<%= javascript_include_tag "get_location" %>

<div class="form-box">
  <%= form_tag target, method: "get", remote: true do %>
    <h4 class="title">Select parameters:</h4>

    <%= render partial: "partials/location_picker" %>
    <%= render partial: "partials/date_range_picker" %>

    <% if @temp_selector %>
      <fieldset>
        <legend>Temperature units:</legend>
        <label><%= radio_button_tag :units, "F", @units == "F" %>Fahrenheit</label>
        <label><%= radio_button_tag :units, "C", @units == "C" %>Celsius</label><br>
      </fieldset>
    <% end %>

    <% if @et_methods %>
      <fieldset>
        <legend>Calculation method:</legend>
        <% @et_methods.each do |method| %>
          <label><%= radio_button_tag :et_method, method, @et_method == method %><%= method.titlecase %></label>
        <% end %>
      </fieldset>
    <% end %>

    <%= button_tag "Get Data Series", name: "format", value: "js", class: "submit", id: "submit" %>
  <% end %>
</div>
