<div class="form-box">
  <%= form_tag action: :get_grid do %>
    <b>Enter parameters:</b>
    <br>
    <br>
    <%= select_tag :latitude, options_for_select(latitudes) %><label for="latitude"> Latitude</label>
    <%= select_tag :longitude, options_for_select(longitudes) %><label for="longitude"> Longitude</label>
    <br>

    <% if (keys = @grid_classes.keys.sort).size > 1 %>
      <p>
      <% keys.each do |param| %>
        <%= radio_button_tag "param", param, param == keys[0] %> <%= param %><br/>
      <% end %>
      </p>
    <% else %>
      <p><input type="hidden" name="param" value="<%= keys[0] %>"/></p>
    <% end %>

    <p>
      <%= date_select :grid_date, :start_date, start_year: Date.current.year - 4, end_year: Date.current.year, default: @date - 1.month %> Start date<br/>
      <%= date_select :grid_date, :end_date, start_year: Date.current.year - 4, end_year: Date.current.year, default: @date %> End date
    </p>

    <p>
      <%= radio_button_tag "format", "html", true %> View in browser&nbsp;<%= radio_button_tag "format", "csv" %> Download as CSV<br/>
    </p>

    <%= submit_tag "Get Data Series ", data: { disable_with: false } %>
  <% end %>
</div>