<div class="box">
  <b>Generate cumulative map:</b>
  <div class="map-form" onChange="validateDates(this)">
    <%= form_tag do %>
      Date range:<br>
      <div id="start-date">
        <label><%= date_select :start_date_select, :date,
          start_year: earliest_date.year,
          end_year: Date.current.year,
          default: @start_date || @date - 1.week %> Start</label>
      </div>
      <div id="end-date">
        <label><%= date_select :end_date_select, :date,
          start_year: earliest_date.year,
          end_year: Date.current.year,
          default: @date %> End</label>
      </div>
      <% if @unit_options %>
        Units:
        <% @unit_options.each do |unit| %>
          <label><%= radio_button_tag :units, unit, @units == unit %><%= unit %></label>&nbsp;
        <% end %>
      <% end %>
      <%= hidden_field_tag :cumulative, true %>
      <br>
      <%= submit_tag "Get cumulative map", id: "submit" %>
      <div id="date-warning"></div>
    <% end %>
  </div>
</div>
