<div class="two-box" id="map-form">
  <div class="form-box">
    <b>Browse single-day maps:</b>
    <p>Shown: <%= @date.strftime("%b %d, %Y") %> (<%= pluralize((Date.current - @date).to_i, "day") %> ago)<p>
    <%= form_tag do %>
      <%= hidden_field_tag :date, @date %>
      <% if @unit_options %>
        <p>
          Units:
          <% @unit_options.each do |unit| %>
            <label><%= radio_button_tag :units, unit, @units == unit, onchange: "this.form.submit()" %><%= unit %></label>&nbsp;
          <% end %>
        </p>
      <% end %>
      <p>
        Go:
        <label><%= submit_tag "Prev: #{@date - 1}", name: :date %></label>&nbsp;
        <% if @date < Date.current - 2.days %>
          <label><%= submit_tag "Next: #{@date + 1}", name: :date %></label>&nbsp;
        <% end %>
        <% if @date < Date.yesterday %><label><%= submit_tag "Latest: #{Date.yesterday}", name: :date %></label><% end %>
      </p>
    <% end %>
    <%= form_tag do %>
      <%= hidden_field_tag :units, @units %>
      <p>Or enter a specific date: <%= text_field_tag :date %>&nbsp;<%= submit_tag "Go" %></p>
    <% end %>
  </div>
  <div class="form-box">
    <b>Generate cumulative map:</b>
    <%= form_tag do %>
      <p>
        Date range:<br>
        <label><%= date_select :start_date_select, :date,
          start_year: earliest_date.year,
          end_year: Date.current.year,
          default: @start_date || @date - 1.week %> Start</label><br>
        <label><%= date_select :end_date_select, :date,
          start_year: earliest_date.year,
          end_year: Date.current.year,
          default: @date %> End</label>
      </p>
      <% if @unit_options %>
        <p>
          Units:
          <% @unit_options.each do |unit| %>
            <label><%= radio_button_tag :units, unit, @units == unit %><%= unit %></label>&nbsp;
          <% end %>
        </p>
      <% end %>
      <%= hidden_field_tag :cumulative, true %>
      <%= submit_tag "Get cumulative map" %>
    <% end %>
  </div>
</div>
