<% content_for :scripts do %>
<script>
  function report_changed(id) {
    $.ajax({
      url: "<%= url_for(controller: :awon, action: :awon_check_boxes) %>?report_type=" + id,
      success: function(response) { $("#check_boxes").html(response); }
    });
  }

  $(document).ready(function() {
    report_changed(411); // This should show up, no?
  });

  var checked;
  var checkedButtonPrompt = "Clear all parameter checkboxes";
  var uncheckedButtonPrompt = "All parameters (check every box)";
  $( document ).ready(function() {
    checked = false;
    checkAll(false); // set 'em all on to start
    $('#toggle_button').html(uncheckedButtonPrompt);
  });

  function checkAll(on_or_off) {
    $('input:checkbox').prop('checked', on_or_off);
  }

  function toggle() {
    checked = !checked;
    checkAll(checked);
    prompt = uncheckedButtonPrompt;
    if (checked) {
      prompt = checkedButtonPrompt;
    }
    $('#toggle_button').html(prompt);
  }
</script>
<% end %>


<% @title = "Automated Weather Observation Network (AWON) Archive" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
<h2><%= @title %></h2>
<p style="font-weight:bold; color:red">Important Notice:</p>
<p>The Hancock and Arlington stations were operated by <%= link_to "Michigan State University Enviroweather Service", "https://enviroweather.msu.edu", target: "_blank" %> between 2017 and 2023 and data for that period can be downloaded from their website.</p>
<p>From 2023-present, data from the Hancock and Arlington stations, as well as some additional stations in Wisconsin, are available from the <%= link_to "Wisconsin Environmental Mesonet (WiscoNet)", "https://wisconet.wisc.edu/", target: "_blank" %> website.</p>
<% end %>

<h2><%= @title %></h2>
<hr>

<p><strong>Please note:</strong> The Automated Weather Observation Network (AWON) is no longer active. This page serves to archive weather data collected in Wisconsin prior to 2017. For current weather data from on-the-ground weather stations, please visit the <%= link_to "Wisconsin Environmental Mesonet (WiscoNet)", "https://wisconet.wisc.edu/", target: "_blank" %> website.</p>

<h3>Download Historical Weather or Soil Data</h3>
<p><%= link_to "List of stations", action: :station_info %>, their geographic locations, and the operational dates.</p>
<%= form_tag(controller: :awon, action: :download_data) do %>
  <table>
    <tr>
      <td width="50%">
        <%= station_selector_section.html_safe %>
      </td>
      <td rowspan="2">
        Arlington and Hancock stations have a continuous record in the daily and the "hourly and half-hourly" tables; hourly prior to 1999, half-hourly subsequently. Some of the other stations used "half-hourly", others "hourly". Not all stations collected each type of data.
      </td>
    </tr>
    <tr>
      <td>
        <%= select_tag "report_type", options_from_collection_for_select(@report_types, :last, :first), onchange: "report_changed(this.value);" %>
      </td>
    </tr>
  </table>

  <p>Clearing all checkboxes is the same as checking them all (you'll get everything).</p>

  <div id="check_boxes">
    <%= render partial: "awon_check_boxes", locals: { report_type: @report_type, ahrs: @ahrs } %>
  </div>

  <br>

  <table>
    <tr>
      <td>From:</td>
      <td><%= select_date Date.new(2017, 9, 23), prefix: "start_date", start_year: 1985, end_year: 2017 %></td>
    </tr>
    <tr>
      <td>To:</td>
      <td><%= select_date Date.new(2017, 9, 30), prefix: "end_date", start_year: 1985, end_year: 2017 %></td>
    </tr>
  </table>

  <p>
    <%= radio_button_tag(:use_abbrevs, false) %>
    <%= label_tag(:use_abbrevs_0, "Use full column names in first line") %>,
    &nbsp;&nbsp;<strong>OR</strong>&nbsp;&nbsp;
    <%= radio_button_tag(:use_abbrevs, true, true) %>
    <%= label_tag(:use_abbrevs_1, "Use abbreviations") %>
  </p>
  <p/>
  <p>
    <%= radio_button_tag(:format, "html", true) %>
    <%= label_tag(:format_html, "View data in your browser") %>,
    &nbsp;&nbsp;<b>OR</b>&nbsp;&nbsp;
    <%= radio_button_tag(:format, "csv") %>
    <%= label_tag(:format_csv, "Download directly to a CSV file") %>
  </p>
  <p><input type="submit" value="Download Data"></p>
<% end %>
<p><button onclick="toggle()" id="toggle_button"></p>


<%= content_for :footer do %>
  <%= link_to "Back", home_url %>
<% end %>
