<% @welcome_image = "king-hall-250px.png" %>

<% content_for :welcome do %>
  <h2>Welcome!</h2>
  <p>To browse maps or data for weather, precipitation, ET, and insolation, see <%= link_to "Weather", weather_path %>. For degree days and pests, see <%= link_to "Thermal Models", thermal_models_path %>. To view the most recent data for a single location, see <%= link_to "Sites", sites_path %>. To subscribe to daily weather data emails, see <%= link_to "Subscribers", subscribers_path %>.</p>
  <p>We offer these data so that growers and other stakeholders in our agricultural landscape can make informed decisions about management practices.</p>
  <p><%= mail_to "agweather@cals.wisc.edu", "Contact us" %> with any questions or comments.</p>
  <br>
  <p><%= link_to image_tag("logos/uw-logo-reverse.png", width: "100%"), "https://www.wisc.edu" %></p>
<% end %>

<div class="row">
  <div class="left">
    <%= link_to image_tag("weather-150px.png"), controller: :weather %>
  </div>
  <div class="text">
    <h2><%= link_to "Weather Data", controller: :weather %></h2>
    <p>Our weather page offers maps and data for temperature, precipitation, evapotranspiration, and solar insolation, derived from NOAA daily grids and satellite observations. We use Space Science's insolation model to derive estimates of solar radiation from satellite imagery. Combined with atmospheric data from Unidata's Internet Data Distribution project, this allows us to calculate reference evapotranspiration via the Priestley-Taylor equation to derive soil moisture and inform irrigation decisions. In addition, access archived National Weather Service hydrometeorological (HYD) reports, daily weather summaries throughout Wisconsin 1995-present. Our automated weather observation network (AWON) archive offers a record of hourly weather observations at Hancock and Arlington from 1985-2017.</p>
    <h4>Quick links:</h4>
    <ul>
      <li>
        Maps and data: 
        <%= link_to "Weather", controller: :weather, action: :weather %> | 
        <%= link_to "Precipitation", controller: :weather, action: :precip %> | 
        <%= link_to "Evapotranspiration", controller: :weather, action: :et %> | 
        <%= link_to "Insolation", controller: :weather, action: :insol %>
      </li>
      <li><%= link_to 'National Weather Service HYD reports', controller: :weather, action: :hyd %></li>
      <li><%= link_to "Automated Weather Observation Network (AWON) data archive", controller: :awon %> (Note: stations are no longer active)</li>
      <li><%= link_to "Day-of-year calendar", controller: :weather, action: :doycal %></li>
      <li><%= link_to "Wisconsin Environmental Mesonet (WiscoNet)", "https://wisconet.wisc.edu/", target: "_blank" %> - opens in new tab</li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("dd-map-250px.png"), controller: :thermal_models %>
  </div>
  <div>
    <h2><%= link_to "Thermal Models", controller: :thermal_models %></h2>
    <p>The thermal models page contains links to the VDIFN web app, degree-day maps and data, an Oak Wilt risk model for minimizing disease risk when pruning or harvest oak, and several pages on information and degree day models for common insect pests.</p>
    <h4>Quick Links:</h4>
    <ul>
      <li><%= link_to "Degree day and disease risk maps", controller: :thermal_models, action: :dd_map %></li>
      <li><%= link_to "Degree day calculator", controller: :thermal_models, action: :degree_days %></li>
      <li><%= link_to "Oak Wilt risk model", controller: :thermal_models, action: :oak_wilt %></li>
      <li><%= link_to "Potato pests and diseases", controller: :thermal_models, action: :potato %></li>
      <li><%= link_to "Corn development model", controller: :thermal_models, action: :corn_dev %></li>
      <li>
        Pest info pages: 
        <%= link_to "European Corn Borer", controller: :thermal_models, action: :ecb %> | 
        <%= link_to "Spongy Moth", controller: :thermal_models, action: :spongy_moth %> | 
        <%= link_to "Seedcorn Maggot", controller: :thermal_models, action: :scm %> | 
        <%= link_to "Western Bean Cutworm", controller: :thermal_models, action: :western_bean_cutworm %>
      </li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("awon-150px.png"), sites_path %>
  </div>
  <div class="text">
    <h2><%= link_to "Site Data", sites_path %> and <%= link_to "Email Subscriptions", subscribers_path %></h2>
    <p>While our weather data can be accessed from the individual weather, precipitation, evapotranspiration, and insolation pages in the <%= link_to "weather tab", weather_path %>, these <%= link_to "site pages", sites_path %> provide a convenient dashboard for accessing the past week's weather data for any single point within our data coverage area. You can bookmark these pages for quick access, or add them to your saved sites in the <%= link_to "subscribers page", sites_path %>. Currently only weather data is presented on the site pages, but we have plans to add degree days and other relevant information in the future.</p>
    <ul>
      <li><%= link_to "Get data for single locations", sites_path %></li>
      <li><%= link_to "Manage saved sites or subscribe to daily emails", subscribers_path %></li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("vdifn-250px.png"), vdifn_path, target: "_blank" %>
  </div>
  <div>
    <h2><%= link_to "Vegetable Disease & Insect Forecasting Network (VDIFN)", vdifn_path, target: "_blank" %></h2>
    <p>Visual map-based interface to view disease risk models, insect developmental models, and degree-day accumulation in Wisconsin and surrounding states. This is the newest and most advanced tool we have available for tracking degree day accumulations across the Upper Midwest and generating disease risk and insect pest pressure predictions.</p>
    <ul><li><%= link_to "Launch VDIFN", vdifn_path, target: "_blank" %> (opens in new tab)</li></ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("pivot-150px.png"), wisp_url, target: "_blank" %>
  </div>
  <div>
    <h2><%= link_to "Irrigation Scheduling Program (WISP)", wisp_url, target: "_blank" %></h2>
    <p>An online irrigation scheduling application is available to calculate the allowable-depletion balance. The tool automatically pulls weather, precipitation, evapotranspiration, degree day data where coverage exists, but any values can be manually updated if you have an on-site weather station. The program was developed by Dr. John Panuska of UW Extension/UW-Madison Biological Systems Engineering and Dr. John Norman, UW-Madison Soil Science.</p>
    <ul><li><%= link_to "Launch WISP", wisp_url, target: "_blank" %> (opens in new tab)</li></ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("hal-250px.png"), api_path %>
  </div>
  <div>
    <h2><%= link_to "Weather Data API", api_path %></h2>
    <p>All of the weather data accessible on this site can also be accessed via our API for free. A description of the API endpoints can be found at the link above. These endpoints are subject to change so if you are using this data in an application please <%= link_to "contact us", action: :about %> to let us know and we will keep you in the loop about any API changes.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("tree-150px.png"), action: :about %>
  </div>
  <div>
    <h2><%= link_to "About this site", action: :about %></h2>
    <p>This site is currently managed by the <%= link_to "Vegetable Entomology lab", vegento_url, target: "_blank" %> in the <%= link_to "Department of Entomology", ento_url, target: "_blank" %> at UW-Madison. Feel free to contact us with inquiries, feature requests, or bug reports at <%= mail_to "agweather@cals.wisc.edu", "agweather@cals.wisc.edu" %>.</p>
  </div>
</div>
