<% if @data %>

<div id="copy-container">
  <h4>Evapotranspiration data series</h4>
  <p>
    <b>Location:</b> <%= @lat %>&deg;N, <%= @long %>&deg;W (<%= link_to "view site data page", controller: :sites, action: :show, lat: @lat, long: @long %>)<br>
    <b>Date range:</b> <%= @start_date %> to <%= @end_date %> (<%= pluralize(@data.size, "days") %>)
    <% if @et_method %>
      <br><b>ET calculation method:</b> <%= @et_method %>
    <% end %>
  </p>
  <div class="tbl-container">
    <table class="grid-table">
      <thead>
        <tr>
          <th>Day</th>
          <th>Date</th>
          <th>Potential<br>ET (in)</th>
          <th>Cumul.<br>ET (in)</th>
          <th>Potential<br>ET (mm)</th>
          <th>Cumul.<br>ET (mm)</th>
        </tr>
      </thead>
      <tbody>
      <% @data.each_with_index do |day, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= day[:date] %></td>
          <td><%= fmt_num(day[:value], 3) %></td>
          <td><%= fmt_num(day[:cumulative_value], 3) %></td>
          <td><%= fmt_num(in_to_mm(day[:value]), 3) unless day[:value].nil? %></td>
          <td><%= fmt_num(in_to_mm(day[:cumulative_value]), 3) unless day[:cumulative_value].nil? %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<p>
  <%= submit_tag "Copy to clipboard", onclick: "copyTable()" %>
  <span id="copy-confirm" style="display: none;"> Copied!</span>
</p>

<% else %>

No data!

<% end %>
