<div class="form-box">
  <%= form_tag action: :precip_data do %>
    <b>Enter parameters:</b>
    <br>
    <br>
    <%= select_tag :latitude, options_for_select(latitudes, selected: "43.0") %><label for="latitude"> Latitude</label>
    <%= select_tag :longitude, options_for_select(longitudes, selected: "-89.0") %><label for="longitude"> Longitude</label>
    <br>

    <p>
      <%= date_select :start_date, :date,
        start_year: Date.current.year - 4,
        end_year: Date.current.year,
        default: @date - 1.month %> Start date<br>
      <%= date_select :end_date, :date,
        start_year: Date.current.year - 4,
        end_year: Date.current.year,
        default: @date %> End date
    </p>

    <p>
      <%= radio_button_tag "format", "html", true %> View in browser&nbsp;<%= radio_button_tag "format", "csv" %> Download as CSV<br/>
    </p>

    <%= submit_tag "Get Data Series ", data: { disable_with: false } %>
  <% end %>
</div>