<div class="box">
  <b>Generate cumulative map:</b>
  <div class="map-form" onChange="validateDates(this)">
    <%= form_tag do %>
      <div class="form-row">
        Date range:<br>
        <div id="start-date">
          <label><%= date_select :start_date_select, :date,
            start_year: earliest_date.year,
            end_year: Date.current.year,
            default: @start_date || @date - 1.week %> Start</label>
        </div>
        <div id="end-date">
          <label><%= date_select :end_date_select, :date,
            start_year: earliest_date.year,
            end_year: Date.current.year,
            default: @date %> End</label>
        </div>
        <div id="date-warning"></div>
      </div>

      <% if @unit_options %>
        <div class="form-row">
          Units:
          <% @unit_options.each do |unit| %>
            <label><%= radio_button_tag :units, unit, @units == unit %><%= unit %></label>&nbsp;
          <% end %>
        </div>
      <% end %>

      <%= hidden_field_tag :cumulative, true %>
      
      <%= submit_tag "Get cumulative map", id: "submit" %>
    <% end %>
  </div>
</div>
