<div class="map-form">
  <div class="map-form-row">
    <div>
      <%= form_tag do %>
        Browse daily maps:
        <button type=submit name=date value=<%= @date - 1 %>>&lt;== Prev</button>
        <button type=submit name=date value=<%= @date + 1 %> <%= @date < Date.yesterday ? "" : "disabled" %>>Next ==&gt;</button>
        <button type=submit name=date value=<%= Date.yesterday %>>Latest</button>
        <%= hidden_field_tag :units, @units %>
      <% end %>
    </div>

    <div>
      <%= form_tag do %>
        <%= hidden_field_tag :units, @units %>
        Or enter a specific date: 
        <%= text_field_tag :date %>&nbsp;<%= submit_tag "Go" %>
      <% end %>
    </div>
  </div>

  <%= form_tag do %>
    <div class="map-form-row">
      <%= hidden_field_tag :date, @date %>

      <div>
        <label>Wisconsin only? <%= check_box_tag :wi_only, true, @wi_only, onchange: "this.form.submit()" %></label>
      </div>

      <% if @unit_opts %>
        <div>
          Units: 
          <% @unit_opts.each do |unit| %>
            <label><%= radio_button_tag :units, unit, @units == unit, onchange: "this.form.submit()" %><%= unit %></label>&nbsp;
          <% end %>
        </div>
      <% end %>

      <% if @stat_opts %>
        <div>
          Summary statistic:
          <% @stat_opts.each do |stat| %>
            <label><%= radio_button_tag :stat, stat, @stat == stat, onchange: "this.form.submit()" %><%= stat %></label>&nbsp;
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
