<div class="box">
  <b>Browse single-day maps:</b>
  <div class="map-form">
    <%= form_tag do %>
      <%= hidden_field_tag :units, @units %>
      Change date: 
      <label><%= submit_tag "Prev: #{@date - 1}", name: :date %></label>&nbsp;
      <% if @date < Date.current - 2.days %>
        <label><%= submit_tag "Next: #{@date + 1}", name: :date %></label>&nbsp;
      <% end %>
      <% if @date < Date.yesterday %><label><%= submit_tag "Latest: #{Date.yesterday}", name: :date %></label><% end %>
    <% end %>
    <%= form_tag do %>
      <%= hidden_field_tag :units, @units %>
      Or enter a specific date: 
      <%= text_field_tag :date %>&nbsp;<%= submit_tag "Go" %>
    <% end %>
    <% if @unit_options %>
      <%= form_tag do %>
        <%= hidden_field_tag :date, @date %>
        Map units: 
        <% @unit_options.each do |unit| %>
          <label><%= radio_button_tag :units, unit, @units == unit, onchange: "this.form.submit()" %><%= unit %></label>&nbsp;
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
