<% if @data %>

<div id="precip-container">
  <h4>Precipitation data series</h4>
  <p>
    <b>Location:</b> <%= @lat %>&deg;N, <%= @long %>&deg;W<br>
    <b>Date range:</b> <%= @start_date %> to <%= @end_date %><br>
    <b>Days:</b> <%= @data.size %>
  </p>
  <table class="grid-table">
    <thead>
      <tr>
        <th>Day</th>
        <th>Date</th>
        <th>Precip<br>(mm)</th>
        <th>Cumul.<br>precip<br>(mm)</th>
        <th>Precip<br>(in)</th>
        <th>Cumul.<br>precip<br>(in)</th>
      </tr>
    </thead>
    <tbody>
    <% @data.each_with_index do |day, i| %>
      <tr>
        <td><%= i + 1 %>
        <td><%= day[:date] %></td>
        <td><%= sprintf_nilsafe(day[:value], 2) %></td>
        <td><%= sprintf_nilsafe(day[:cumulative_value], 2) %></td>
        <td><%= sprintf_nilsafe(day[:value] / 25.4, 2) %></td>
        <td><%= sprintf_nilsafe(day[:cumulative_value] / 25.4, 2) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<p>
  <%= submit_tag "Copy to clipboard", onclick: "copy('precip')" %>
  <span id="precip-confirm" style="display: none;"> Copied!</span>
</p>

<% else %>

No data!

<% end %>
