<p><%= link_to "Click here", subscribers_path %> to subscribe to our daily automated weather and evapotranspiration emails or to edit an existing subscription.</p>
<h4>Quick Links:</h4>
<ul>
  <li><%= link_to "Weather data", action: :weather %></li>
  <li><%= link_to "Precipitation data", action: :precip %></li>
  <li><%= link_to "Evapotranspiration data", action: :et %></li>
  <li><%= link_to "Insolation data", action: :insol %></li>
</ul>
