<% @title = "Evapotranspiration Data" %>
<% @welcome_image = "degree-flower.png" %>
<%= javascript_include_tag "map_functions" %>
<%= render partial: "partials/map__set_extents" %>
<%= render partial: "partials/map__scroll_to_view" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Our evapotranspiration model uses atmospheric observations from ASOS stations and satellite-derived insolation estimates to predict water use by plants.</p>
  <%= render partial: "quick_links" %>
<% end %>

<h2>Gridded Daily Potential Evapotranspiration Data</h2>

<hr>

<p>The maps of potential evapotranspiration (ET) shown below are calculated from satellite-derived measurements of <%= link_to "solar radiation", action: :insol %> and <%= link_to "average air temperatures", controller: :weather, action: :weather %>. The ET values on the maps are a reasonable estimate of daily crop water use for most crops that have reached at least 80% coverage of the ground. Prior to 80% or greater coverage, ET will be a fraction of the map value in proportion to the amount of coverage. The map values may vary slightly from ET estimates from AWON and other more site-specific models, but these differences are believed to be within the uncertainty of even measurements of actual water use made directly in a given field.</p>
<p>For more details on the science behind these products, see Diak et al, "Agricultural Management Decision Aids Driven by Real-Time Satellite Data", <span style="font-style: italic">Bulletin of the American Meteorological Society</span> 79 (1998): 1345-1355. <%= link_to "Link to article", "https://doi.org/10.1175/1520-0477(1998)079%3C1345:AMDADB%3E2.0.CO;2" %>. <%= link_to "Download PDF", "/Diak-et-al-1998.pdf", target: "_blank" %>.</p>
<p>Daily evapotranspiration maps in the default units are already rendered by our server and can be browsed quickly. Changing the units or using the cumulative map tool below will take around 10 seconds to render the image</p>

<%= render partial: "map_heading" %>
<%= render partial: "map_form__browse" %>
<%= render_async url_for(action: :map_image),
  method: "POST",
  data: {
    endpoint: @endpoint,
    query: @map_opts,
  }.to_json do %>
  <%= render layout: "partials/loading" do %>
    <p style="margin-top: 10px;"><b>Please wait, loading map may take up to 10 seconds...</b></p>
    <p>
      Date: <%= @date %><br>
      <% if @start_date %>Start date: <%= @start_date || "Not specified" %><br><% end %>
      Units: <%= @units %>
    </p>
  <% end %>
<% end %>

<%= render partial: "map_form__cumulative" %>

<h3>Download evapotranspiration data grid for <%= @date.strftime("%b %-d, %Y") %></h3>
<ul>
  <li><%= link_to "Download entire grid (standard calculation method)", action: :et, format: :csv, params: {date: @date} %></li>
  <li><%= link_to "Download entire grid (new adjusted calculation method)", action: :et, format: :csv, params: {date: @date, et_method: "adjusted"} %></li>
</ul>

<h3>Get evapotranspiration data for a single location</h3>
<div class="note">
  Note: You can click on the map to set the latitude and longitude. The 'adjusted' ET calculation method uses new coefficients under investigation by Ankur Desai and Ammara Talib at the UW Atmospheric and Oceanic Sciences department. The adjusted method will result in slightly lower ET values that may reflect real-world conditions in Wisconsin better than the old method.
</div>
<%= render partial: "partials/grid_selector", locals: { target: url_for(action: :et_data) } %>
<div id="map-data"></div>

<%= content_for :footer do %>
  <%= link_to "Back", action: :index %>
<% end %>
