<% @title="Grid-Interpolated Daily Temperatures"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png",{:width => "231", :height => "180", :alt => "Gridded Map"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<h2><%= @title %></h2>
<br>

<p>
  <b>Location:</b> <%= @latitude %>&deg;N, <%= @longitude %>&deg;W<br>
  <b>Date range:</b> <%= @start_date %> to <%= @end_date %><br>
  <b>Days:</b> <%= @data.size %>
</p>

<table class="grid-table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Date</th>
      <th>Min<br>temp<br>(&deg;C)</th>
      <th>Avg<br>temp<br>(&deg;C)</th>
      <th>Max<br>temp<br>(&deg;C)</th>
      <th>Vap.<br>pres.<br>(mbar)</th>
    </tr>
  </thead>
  <tbody>
  <% @data.each_with_index do |day, i| %>
    <tr>
      <td><%= i + 1 %>
      <td><%= day[:date] %></td>
      <td><%= sprintf("%.2f", day[:min_temp]) %></td>
      <td><%= sprintf("%.2f", day[:avg_temp]) %></td>
      <td><%= sprintf("%.2f", day[:max_temp]) %></td>
      <td><%= sprintf("%.2f", day[:pressure]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back", :back %>
