<% @title="Grid-Interpolated Daily Temperatures"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png",{:width => "231", :height => "180", :alt => "Gridded Map"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<h2><%= @title %></h2>
<br>

<h4><u><%= @param %> data</u></h4>
<p>
  <strong>Location:</strong> <%= @latitude %>&deg;N, <%= @longitude %>&deg;W<br>
  <strong>Date range:</strong> <%= @start_date %> to <%= @end_date %>
</p>

<table>
  <thead>
    <tr>
      <th style="width: 8em;">Date</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
  <% for date in @data.keys.sort %>
    <tr>
      <td><%= date %></td>
      <td><%= @data[date] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
