<% @title = "NWS Co-Op Observer Reports" %>
<% @welcome_image = "snowy.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Access daily weather reports from National Weather Service volunteers across Wisconsin.</p>
<% end %>

<% content_for :scripts do %>
<script>
  window.onload = function() {
    updateButtons();
  }

  function updateButtons() {
    prev_btn.disabled = year.value <= year[year.length - 1].value;
    next_btn.disabled = year.value >= year[0].value;
  }

  function prevYear() {
    year.value -= 1;
    changeYear();
  }

  function nextYear() {
    year.value -= -1;
    changeYear();
  }

  function changeYear() {
    jQuery.ajax({
      url: "<%= hyd_grid_weather_index_url %>",
      type: "GET",
      data: {"year" : year.value},
      dataType: "html",
      success: function(data) {
        jQuery("#grid").html(data);
      }
    });
    updateButtons();
  }
</script>
<% end %>

<h2><%= link_to(@title, "") %></h2>

<p>These weather data are maximum and minimum air temperature and precipitation, for the previous 24 hours, observed at about 7 am. The observations are made by a group of about 60 volunteers, who immediately transmit them to the National Weather Service Forecast Office in Sullivan, WI. Meteorologists there collect the readings and make them available on the Weather Service's computer system. We retrieve the data from McIDAS, a system created and maintained by the Space Science and Engineering Center of the University of Wisconsin-Madison. Until December 2003, the reports were referred to by the NWS as "OPU", for "Other Public Products"; they are now officially "HYD", for "hydrometeorological data".</p>

<p>Some of the observers providing these measurements are part of the National Weather Service's Cooperative Observation Program, and their data will be included in long-term records. Other observers are not official members of the Cooperative Program, and use their own equipment. Thus, averages published in the "Climate of Wisconsin" (about 8 months from now) may not agree with those derived from the daily summaries here.</p>

<p>Note that HYD reports are for the 24 hours preceding the date and time on which they are issued. So the January 2 report has January 1's weather, and so on.</p>

<%= select_tag "year", options_for_select((Date.today.year).downto(1997), @year), onchange: "changeYear()" %>
<%= submit_tag "Prev", id: "prev_btn", onclick: "prevYear()" %>
<%= submit_tag "Next", id: "next_btn", onclick: "nextYear()" %>

<div id="grid">
  <%= render partial: "hyd_grid" %>
</div>

<br>

<%= link_to "Back", :back %>
