<% @title = "Weather Observations" %>
<% @welcome_image = "snowy.png" %>

<% content_for :welcome do %>
  <h2>Weather Observations</h2>
  <p>Weather-related pages and data are available here.</p>
<% end %>

<div class="row">
  <div class="left">
    <%= link_to image_tag("dd-map-150px.png"), action: :weather_map %>
  </div>
  <div>
    <h2><%= link_to "Gridded Weather Data", action: :weather_map %></h2>
    <p>View daily maps and access single point or whole-grid data series for weather parameters including daily min, max, and mean temperatures, dewpoints, vapor pressures, and humidity.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("precip-map-250px.png"), action: :precip_map %>
  </div>
  <div>
    <h2><%= link_to "Gridded Daily Precipitation Data", action: :precip_map %></h2>
    <p>View daily maps and access single point or whole-grid data series for daily precipitation totals. Data is derived from NOAA-generated datasets.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("hyd-150px.png"), action: :hyd %>
  </div>
  <div>
    <h2><%= link_to "HYD Reports", action: :hyd %></h2>
    <p>We offer online access to NWS HYD reports -- daily weather summaries of temperature and precipitation by volunteer observers -- for hundreds of locations throughout Wisconsin going back to 1995. The reports are text files, one per day.</p>
    <ul>
      <li>Yesterday's report: <%= latest_hyd_link.html_safe %></li>
      <li><%= link_to "Access to dataset", action: :hyd %></li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("awon-150px.png"), controller: :awon %>
  </div>
  <div>
    <h2><%= link_to "Automated Weather Observation Network", controller: :awon %></h2>
    <p>From 1985-2017, we maintained automated weather stations at the Hancock and Arlington Ag Research stations. (Others were also operated in the 1980s-1990s.) They made hourly observations and daily averages for temperature, humidity, wind speed and direction, solar radiation, and soil temperature. Stations were discontinued in 2017. Since then data from Arlington and Hancock can be accessed via the <%= link_to "Michigan State University Enviroweather Service", "https://enviroweather.msu.edu" %>.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("doy-cal-150px.png"), action: :doycal %>
  </div>
  <div>
    <h2><%= link_to "Day-of-Year Calendar", action: :doycal %></h2>
    <p>Handy day-of-year calendar for any of the previous 50 and subsequent 50 years</p>
  </div>
</div>
