<% @title = "Solar Insolation Data" %>
<% @welcome_image = "equinox.jpg" %>
<%= javascript_include_tag "map_functions" %>
<%= render partial: "partials/map__set_extents" %>
<%= render partial: "partials/map__scroll_to_view" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>UW Space Sciences model provides excellent insolation estimates during most of the year (snow cover looks like clouds to the satellite).</p>
  <%= render partial: "quick_links" %>
<% end %>

<h2>Gridded Daily Solar Insolation Data</h2>

<hr>

<p>Daily solar energy amounts are estimated using data in the visible portion of the spectrum which come from the Geostationary Operational Environmental Satellites (GOES). Simple physical models of radiative transfer for the clear and cloudy atmosphere are used with these data to evaluate whether a particular location is cloudy or clear and, if cloudy, to what extent clouds have depleted the solar beam. Usually, about eight to twelve individual GOES images are used during the course of a day to make estimates of the solar energy at the satellite image times. These instantaneous estimates are later summed to produce the daily solar energy totals.</p>
<p>The gridded insolation estimates shown below are imported daily from <%= link_to "UW Madison's Space Science Engineering Center", "https://ssec.wisc.edu" %> and provided on this page for easy access. Data is aggregated to a 0.1 decimal degree scale (roughly 8km E/W by 11km N/S in Wisconsin). We use this data, in combination with <%= link_to "gridded daily temperature datasets", action: :weather %>, to generate our <%= link_to "evapotranspiration estimates", action: :et %>.</p>
<p>Daily insolation maps in the default units are already rendered by our server and can be browsed quickly. Changing the units or using the cumulative map tool below will take around 10 seconds to render the image</p>

<% if @start_date %>
  <h4 id="map">Cumulative solar insolation map for <%= @start_date.strftime("%b %-d") %> to <%= @date.strftime("%b %-d") %> (<%= pluralize((@start_date..@date).count, "day") %>)</h4>
<% else %>
  <h4 id="map">Solar insolation map for <%= @date.strftime("%b %-d") %> (<%= pluralize((Date.current - @date).to_i, "day") %> ago)</h4>
<% end %>

<%= render_async url_for(action: :map_image),
  method: "POST",
  data: {
    endpoint: @endpoint,
    query: @map_opts,
    caption: "Note: Single-day map color scale is based on min/max values for the entire year.",
  }.to_json do %>
  <%= render layout: "partials/loading" do %>
    <p>
      Date: <%= @date %><br>
      <% if @start_date %>Start date: <%= @start_date || "Not specified" %><br><% end %>
      Units: <%= @units %>
    </p>
  <% end %>
<% end %>

<div class="two-box">
  <%= render partial: "map_form__browse" %>
  <%= render partial: "map_form__cumulative" %>
</div>

<h4>Download insolation data grid</h4>
<p><%= link_to "Download the entire grid of data for #{@date.strftime("%b %-d")} in CSV format", action: :insol, format: :csv, params: { date: @date } %>.</p>

<h4>Get insolation data for a single location</h4>
<p>Choose a location and date range then click "Get Data Series". Daily insolation data will be displayed in units of Mj and kWh. Note: You can click on the map to set the latitude and longitude to within half a degree.</p>
<%= render partial: "partials/grid_selector", locals: { target: url_for(action: :insol_data) } %>
<div id="map-data"></div>

<%= content_for :footer do %>
  <%= link_to "Back", action: :index %>
<% end %>
