<% @title = "Gridded Weather Data"%>
<% @welcome_image = "mean-temps-250px.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Weather data is collected daily from the National Atmospheric and Oceanic Administration's gridded datasets and provided here for easy access.</p>
<% end %>

<%= javascript_include_tag "map_functions" %>

<h2><%= link_to(@title, "") %></h2>

<hr>

<p>This gridded weather data is imported daily from the <%= link_to "National Oceanic and Atmospheric Administration", "https://www.nco.ncep.noaa.gov/pmb/products/rtma/" %> and includes air temperatures and dew points. From these data we compute vapor pressure and relative humidity. The map below shows mean daily air temperature, but all weather parameters may be viewed by clicking on the map or selecting a specific Latitude/Longitude and clicking 'Get Data Series' in the box below. Use the buttons above the map to view a different date.</p>

<hr>

<h4>Mean temperature map for Wisconsin and surrounding states for <%= @date %>:</h4>

<%= render partial: "partials/date_changer", locals: { action: :weather_map } %>

<%= render partial: "partials/map_image" %>

<div class="note">
  Note: Map color scale is based on min/max temp across region. Map may take a few moments to load if it hasn't already been created. <%= link_to "Download the entire grid of data in CSV format", action: :weather_map, format: :csv %>.
</div>

<hr>

<h4>Get Weather Data Time Series</h4>

<div class="note">
  Note: You can click on the map to set the latitude and longitude to within half a degree.
</div>

<%= render partial: "partials/grid_selector", locals: { target: "/weather/weather_data.js" } %>

<div id="map-data"></div>

<br>

<%= link_to "Back", :back %>
