<% @title = "Weather Data"%>
<% @welcome_image = "mean-temps-250px.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Weather data is collected daily from the National Atmospheric and Oceanic Administration's gridded datasets and provided here for easy access.</p>
<% end %>

<%= javascript_include_tag "map_functions" %>

<h2>Gridded Weather Data</h2>

<hr>

<h4>Mean temperature map for Wisconsin and surrounding states for <%= @date %>:</h4>

<%= render partial: "partials/date_changer", locals: { action: :weather_map } %>

<div id="map-container">
  <%= image_tag @map_image, id: "map-img" %>
</div>

<div class="note">
  Note: Map color scale is based on min/max temp across region. Map may take a few moments to load if it hasn't already been created. <%= link_to "Download the entire grid of data in CSV format", action: :weather_map, format: :csv %>.
</div>

<hr>

<h4>Get Weather Data Time Series</h4>

<div class="note">
  Note: You can click on the map to set the latitude and longitude to within half a degree.
</div>

<%= render partial: "partials/grid_selector", locals: { target: "/weather/weather_data.js" } %>

<div id="map-data"></div>

<br>

<%= link_to "Back", :back %>
