<% @title = "Gridded Weather Data"%>
<% @welcome_image = "mean-temps-250px.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Weather data is collected daily from the National Atmospheric and Oceanic Administration's gridded datasets and provided here for easy access.</p>
<% end %>

<%= javascript_include_tag "map_functions" %>
<% if @is_post %><%= javascript_include_tag "scroll_to_form" %><% end %>

<h2><%= link_to(@title, "") %></h2>

<hr>

<h4>Introduction</h4>

<p>This gridded weather data is imported daily from the <%= link_to "National Oceanic and Atmospheric Administration", "https://www.nco.ncep.noaa.gov/pmb/products/rtma/" %> and includes air temperatures and dew points. From these data we compute vapor pressure and relative humidity. The map below shows mean daily air temperature, but all weather parameters may be viewed by clicking on the map or selecting a specific Latitude/Longitude and clicking 'Get Data Series' in the box below. Use the buttons above the map to view a different date.</p>

<h4>Temperature Map</h4>

<div class="form-box" id="map-form">
  <b>Select air temperature map:</b>
  <p>Shown: <%= @date.strftime("%b %d, %Y") %> (<%= pluralize((Date.current - @date).to_i, "day") %> ago)</p>
  <%= form_tag do %>
    <%= hidden_field_tag :date, @date %>
    <% if @unit_options %>
      <p>
        Units:
        <% @unit_options.each do |unit| %>
          <label><%= radio_button_tag :units, unit, @units == unit, onchange: "this.form.submit()" %>&deg;<%= unit %></label>&nbsp;
        <% end %>
      </p>
    <% end %>
    <p>
      Go:
      <label><%= submit_tag "Prev: #{@date - 1}", name: :date %></label>&nbsp;
      <% if @date < Date.current - 2.days %>
        <label><%= submit_tag "Next: #{@date + 1}", name: :date %></label>&nbsp;
      <% end %>
      <% if @date < Date.yesterday %><label><%= submit_tag "Latest: #{Date.yesterday}", name: :date %></label><% end %>
    </p>
  <% end %>
  <%= form_tag do %>
    <%= hidden_field_tag :units, @units %>
    <p>Or enter a specific date: <%= text_field_tag :date %>&nbsp;<%= submit_tag "Go" %></p>
  <% end %>
</div>

<%= render_async map_image_weather_index_path,
  method: "POST",
  data: { endpoint: @endpoint, id: @date, query: {units: @units}.compact }.to_json,
  error_message: "Sorry, unable to load map. Please try again." do %>
  <%= render layout: "partials/loading" do %>
    <p>
      Date: <%= @date %><br>
      Units: <%= @units %>
    </p>
  <% end %>
<% end %>

<div class="note">
  Note: Map color scale is based on min/max temp across region. <%= link_to "Download the entire grid of data in CSV format", action: :weather_map, format: :csv, params: { date: @date } %>.
</div>

<hr>

<h4>Get Weather Data</h4>

<p>Choose a location and date range then click "Get Data Series". Daily min/max/average temperature, dew point, vapor pressure, hours high humidity, and average temperature during periods of high humidity will be shown in either Fahrenheit or Celsius. Note: you can click on the map or click the "Get my location" button to set the lat/long.</p>

<%= render partial: "partials/grid_selector", locals: { target: weather_data_weather_index_path } %>

<div id="map-data"></div>

<br>

<%= link_to "Back", :back %>
