<% @title = "Soil Science Web Cam" %>
<% @welcome_image = "webcam-fall.jpg" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <h4>Fall</h4>
  <%= image_tag "webcam.jpg",{:width => "231", :height => "180", :alt => "Lake Mendota View"} %>
  <h4>Winter</h4>
  <%= image_tag "webcam-winter.png",{:width => "231", :height => "180", :alt => "Lake Mendota View"} %>
  <br>
  <h4>Search the archive:</h4>
  <p>
    <%= form_tag controller: 'weather', action: :webcam_archive do %>
      <%= select_date Date.today %>
      <%= submit_tag 'See archive for this date'%>
    <% end %>
  </p>
<% end %>

<div class="center">
  <h2>Live, from the Turret of King Hall...</h2>
  <h3>It's the Soil Science Web Cam!</h3>
  <p><%= image_tag "webcam/fullsize.jpg", width: 550, height: 420 %></p>
</div>

<h4>The View from Up Here:</h4>

<h5>...Is Back, Thanks Troy!</h5>

<p>Thanks to our department's intrepid technician, who fixed the power problems in the camera's enclosure...the webcam is BACK!</p>

<p>You are looking at a panoramic view of beautiful Lake Mendota. In the foreground are the red tiled roofs atop dormitories at the University of Wisconsin-Madison. On the left is Picnic Point, a favorite spot to walk and birdwatch. Off to the right across the lake, you can pick out the water tower on Governor's Island (though his actual mansion is out of sight to the right). The camera (a brand-new Axis P1344 HD Web Camera, for the technically inclined) is facing just a little west of due north.</p>

<p>We hope that you will join us here often, to watch the sailboats sail, the clouds billow by, the sun rise and set, and the seasons in motion. A little slice of spiritual tranquility, brought to you by Soil Science.</p>

<h4><a name="archive"></a>Picture Archives</h4>

<p>In late August 2004, we started keeping an archive of images from the&nbsp; webcam. A small (176x144) &quot;halfsize&quot; image is saved every five minutes, and a larger &quot;hugesize&quot; one (704x576) every hour. Images are recorded from 0300 to 2159 local time in the summer, 0600 to 1859 local during the fall and spring. In April 2011, we started archiving the larger images every five minutes as well.</p>

<p>The old server on which we stored these images is dying; we're working to migrate them to our spiffy new one. For right now, you can access images from today (2014-05-29) onwards by selecting the date at left and clicking the button. Previous days will be available as soon as we can restore them.</p>

<!--
  <H4>The Daily Movie</H4>
<P>Also as of late August 2004, we have
time-lapse webcam movies. (July 2012 note: Movies not working with new webcam -- soon!) You must
have a Java plugin or a Java-enabled browser to see these movies.
The movie pages are in the daily archives; here is a <A HREF="http://alfi.soils.wisc.edu/~asig/webcam/archive/2004/10/07/movie.html">sample</A>
with a glowing sunrise, blue sky with clouds and contrails
sweeping by, then a rainshower and nightfall. Watch how the
clouds change direction as the winds shift from the storm. Or see this
<a href="http://alfi.soils.wisc.edu/asig/webcam/archive/2007/01/17/movie.html">time-lapse of Mendota's ice cover breaking up</a>.</P>
  -->

<h4>What's this <%= link_to 'turret of King Hall', controller: :navigation, action: :king_hall %> business?</h4>

<br>

<%= link_to "Back", :back %>
