<%= form_tag({action: :oak_wilt_dd}) do %>
  <b>Select location and date of interest for Oak Wilt recommendation:</b><br>
  <p>Choose your location from the latitude and longitude menus below, or click on the map to the right to automatically select them.</p>
  <div class="form-row">
    <div>
      <label for="latitude">Latitude:</label>
      <%= select_tag :latitude, options_for_select(latitudes, "43.0"), width: "50%" %>
      &nbsp;
      <label for="longitude">Longitude:</label>
      <%= select_tag :longitude, options_for_select(longitudes, "-89.0") %>
    </div>
  </div>
  <div class="form-row">
    <label id="end-date" for="end_date">Date of Interest</label>
    <div onChange="validateDate()">
      <%= date_select :end_date, "date", start_year: 2017, default: 1.day.ago, end_year: Time.now.year %>
    </div>
  </div>
  <div class="form-row">
    <div id="date-warning" style="display:none;">
      <p>Date of interest must be prior to the current date.<p>
    </div>
    <p class="disclaimer">Note: Date of interest must be prior to the current date. The degree day data in this system is available only up to the day before the current date for computation.</p>
  </div>
  <input type="hidden" name="model_type" value="oak_wilt"/>
  <input type="hidden" name="method" value="Sine"/>
  <input type="hidden" name="base_temp" value="41" />
  <input type="hidden" name="upper_temp" value="None" />
  <%= submit_tag("Compute Estimated Oak Wilt Vector Emergence Status", class: "button", id: "submit")%>
<% end %>
