<% border = "1px solid #8b846a" %>
<% bg_drk = "#e9e4d0" %>
<% bg_lt = "#f7f5ee" %>

<% if subscription %>
  <% data = subscription[:data].values.first %>
  <% opts = subscription[:options] %>
  <% base = opts["base"] %>
  <% upper = opts["upper"] %>
  <% units = opts["units"] %>

  <h4 style="margin: 2em 0 0.5em 0;">Degree day totals for base <%= base %>&deg;<%= units%><%= upper.nil? ? "" : " / upper #{upper}°#{units}:" %></h4>

  <% if data %>
    <% if data.values.last[:max_cum_dd].to_f > 0 %>
      <table role="presentation" width="100%" cellpadding="5" cellspacing="0" style="border-collapse: collapse; border: <%= border %>">
        <thead>
          <tr bgcolor=<%= bg_drk %>>
            <th align="left" style="border-bottom: <%= border %>;">Date</th>
            <th align="center" style="border-bottom: <%= border %>;">Low (&deg;<%= units %>)</th>
            <th align="center" style="border-bottom: <%= border %>;">High (&deg;<%= units %>)</th>
            <th align="center" style="border-bottom: <%= border %>;">DDs</th>
            <th align="center" style="border-bottom: <%= border %>;">Total</th>
          </tr>
        </thead>
        <tbody>
          <% data.values.each_with_index do |day, i| %>
            <% style = "" %>
            <% style += "font-weight: bold;" if day == data.values.last %>
            <% style += "background: #{bg_drk};" if i.odd? %>
            <tr style="<%= style %>">
              <td style="white-space: nowrap"><%= day[:date] %></td>
              <td align="center"><%= day[:min] %></td>
              <td align="center"><%= day[:max] %></td>
              <td align="center"><%= day[:dd] %></td>
              <td align="center"><%= day[:cum_dd] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p style="font-size: 0.8em;"><i>Degree day totals reflect accumulation since Jan 1 of the present year. For more information on degree days or to calculate a custom degree day model or date range, <%= link_to "click here", degree_days_thermal_models_url %>.</i></p>
    <% else %>
      <p style="font-size: 0.8em;"><i>No degree days accumulated yet this year. For more information on degree days or to calculate a custom degree day model or date range, <%= link_to "click here", degree_days_thermal_models_url %>.</i></p>
    <% end %>
  <% else %>
    <% Rails.logger.error "_degree_day_data :: No data sent to partial." %>
    <p style="font-size: 0.8em;"><i>Unable to retrieve the degree day data for this site.</i></p>
  <% end %>
<% end %>
