<% border = "1px solid #8b846a" %>
<% bg = "#e9e4d0"%>


<% if subscription %>
  <% @data = subscription[:data].values.first %>

  <h5 style="margin-bottom: 0.5em;">Oak wilt risk model and forecast:</h5>

  <% if @data %>
    <% cur_dd = @data.values.first[:cum_dd].to_f %>
    <% risk = @data.values.first[:risk] %>

    <% if cur_dd == 0 %>
      <p style="font-size: 0.8em;"><i>No degree days accumulated yet this year. The high risk oak wilt transmission period begins at 231 degree days (base 41&deg;F) and ends on July 15. Visit the <%= link_to "Oak Wilt page", oak_wilt_thermal_models_url %> to learn more.</i></p>
    <% end %>

    <% if (cur_dd > 0) %>
      <% if cur_dd < 231 %>
        <table role="presentation" width="100%" cellpadding="5" cellspacing="0" style="border-collapse: collapse; border: <%= border %>">
          <thead>
            <tr bgcolor=<%= bg %>>
              <th align="left" style="border-bottom: <%= border %>;">Date</th>
              <th align="center" style="border-bottom: <%= border %>;">Degree days</th>
              <th align="center" style="border-bottom: <%= border %>;">Risk recommendation</th>
            </tr>
          </thead>
          <tbody>
            <% @data.values.each_with_index do |day, i| %>
              <% style = "" %>
              <% style += "font-weight: bold;" if i == 0 %>
              <% style += "font-style: italic;" if i > 0 %>
              <% style += "background: #e9e4d0" if i.odd? %>
              <tr style="<%= style %>">
                <td style="white-space: nowrap"><%= day[:date] %></td>
                <td align="center"><%= day[:cum_dd] %></td>
                <td align="center"><%= day[:risk] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p style="font-size: 0.8em;"><i>The high risk oak wilt transmission period begins at 231 degree days (base 41&deg;F) and ends on July 15. Dates in italics reflect the estimated one-week forecast for oak wilt risk based on the previous week's average daily degree-day accumulation. This forecast will change daily. Visit the <%= link_to "Oak Wilt page", oak_wilt_thermal_models_url %> to learn more.</i></p>
      <% elsif Date.current < Date.new(Date.current.year, 7, 15) %>
        <p style="color: #c5050c"><%= risk %>. Wounding/pruning/harvesting oaks should be avoided.</p>
        <p style="font-size: 0.8em;"><i>Approximately <%= cur_dd %> degree days have accumulated at this location. The oak wilt transmission period begins at 231 degree days (base 41&deg;F) and ends on July 15. Visit the <%= link_to "Oak Wilt page", oak_wilt_thermal_models_url %> to learn more.</i></p>
      <% else %>
        <p style="color: #008000">The risk of overland transmission of oak wilt is greatly reduced after July 15th. Pruning or harvesting oaks can be considered at this time.<p>
        <p style="font-size: 0.8em;"><i>Approximately <%= cur_dd %> degree days have accumulated at this location. The oak wilt transmission period begins at 231 degree days (base 41&deg;F) and ends on July 15. Visit the <%= link_to "Oak Wilt page", oak_wilt_thermal_models_url %> to learn more.</i></p>
      <% end %>
    <% end %>
  <% else %>
    <% Rails.logger.error "_oak_wilt_data :: No data sent to partial." %>
    <p style="font-size: 0.8em;"><i>Unable to retrieve the oak wilt risk model for this site.</i></p>
  <% end %>
<% end %>
