<% border = "1px solid #8b846a" %>
<% bg = "#e9e4d0"%>

<% if subscription %>
  <% @data = subscription[:data].values.first %>

  <h5 style="margin-bottom: 0.5em;"><i>7-day weather report:</i></h5>

  <table role="presentation" width="100%" cellpadding="5" cellspacing="0" style="border-collapse: collapse;">
    <thead>
      <tr bgcolor=<%= bg %> style="background: <%= bg %>; border-top: <%= border %>; border-bottom: <%= border %>;">
        <th align="left;">Date</th>
        <th align="right">Min temp<br>(&deg;F)</th>
        <th align="right">Max temp<br>(&deg;F)</th>
        <th align="right">Precip<br>(in)</th>
        <th align="right">Pot. ET<br>(in)</th>
      </tr>
    </thead>
    <tbody>
      <% @data.values.each_with_index do |day, i| %>
        <% style = "" %>
        <% style += "background: #{bg};" if i.odd? %>
        <% style += "font-weight: bold; border-bottom: #{border};" if day == @data.values.last %>
        <tr style="<%= style %>">
          <td style="white-space: nowrap"><%= day[:date] %></td>
          <td align="right"><%= day[:min_temp] %></td>
          <td align="right"><%= day[:max_temp] %></td>
          <td align="right"><%= day[:precip] %></td>
          <td align="right"><%= day[:et] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>
