<% border = "1px solid #8b846a" %>
<% bg = "#e9e4d0"%>

<% if subscription %>
  <h5 style="margin-bottom: 0.5em;">7-day weather report:</h5>

  <% @data = subscription[:data].values.first %>
  <% if @data %>
    <table role="presentation" width="100%" cellpadding="5" cellspacing="0" style="border-collapse: collapse; border: <%= border %>">
      <thead bgcolor=<%= bg %> style="border-bottom: <%= border %>;">
        <tr>
          <th align="left">Date</th>
          <th align="center">Min temp<br>(&deg;F)</th>
          <th align="center">Max temp<br>(&deg;F)</th>
          <th align="center">Precip<br>(in)</th>
          <th align="center">Pot. ET<br>(in)</th>
        </tr>
      </thead>
      <tbody>
        <% @data.values.each_with_index do |day, i| %>
          <% style = "" %>
          <% style += "background: #{bg};" if i.odd? %>
          <% style += "font-weight: bold;" if day == @data.values.last %>
          <tr style="<%= style %>">
            <td style="white-space: nowrap"><%= day[:date] %></td>
            <td align="center"><%= day[:min_temp] %></td>
            <td align="center"><%= day[:max_temp] %></td>
            <td align="center"><%= day[:precip] %></td>
            <td align="center"><%= day[:et] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% @totals = @data.values.last[:totals] %>
    <% if @totals %>
      <p style="font-size: 0.8em;"><i>Weather summary for the past week: <%= @totals[:total_min_temp] %> low, <%= @totals[:total_max_temp] %> high, <%= @totals[:total_precip] %> total precipitation, and <%= @totals[:total_et] %> total potential evapotranspiration.</i></p>
    <% end %>
    <br>
  <% else %>
    <% Rails.logger.error "_weather_data :: No data sent to partial." %>
    <p style="font-size: 0.8em;"><i>Unable to retrieve the weather report for this site.</i></p>
  <% end %>

<% end %>
