<p>THIS EMAIL WAS SENT BY THE UW EXTENSION AG WEATHER AUTOMATED MAILER, DO NOT REPLY.</p>
<br>
<p>Daily evapotranspiration (ET) data for <%= @subscriber.name %>.</p>
<p>The daily potential ET data for the site(s) you requested is shown below for <%= @date.strftime('%m/%d/%Y') %>.</p>
<br>
<table style="border-spacing: 0.5em;">
  <thead>
    <tr>
      <th style="text-align: left;">Site ID</th>
      <th style="text-align: left;">Location</th>
      <th style="text-align: left;">Date</th>
      <th style="text-align: right;">ET Value<br>(in/day)</th>
      <th style="text-align: right;">Cumul.<br>ET Value</th>
    </tr>
  </thead>
  <tbody style="vertical-align: baseline;">
    <% @values.each do |sub| %>
      <% sub[:dates].each_with_index do |d, i| %>
        <% if i == 0 %>
          <tr>
            <td><%= sub[:site_name] %></td>
            <td><a href="https://www.google.com/maps/search/?api=1&query=<%= sub[:latitude] %>%2C+<%= sub[:longitude] %>" target="_blank"><%= sub[:latitude] %>, <%= sub[:longitude] %></a></td>
            <td><%= d.strftime("%b-%d") %></td>
            <td style="text-align: right;">
              <% if sub[:values][i].negative?() %>
                No data
              <% else %>
                <%= sub[:values][i].round(3) %>
              <% end %>
            </td>
            <td style="text-align: right;"><%= sub[:cum_vals][i].round(3) %></td>
          </tr>
        <% else %>
          <tr>
            <td></td>
            <td></td>
            <td><%= d.strftime("%b-%d") %></td>
            <td style="text-align: right;">
              <% if sub[:values][i].negative?() %>
                No data
              <% else %>
                <%= sub[:values][i].round(3) %>
              <% end %>
            </td></td>
            <td style="text-align: right;"><%= sub[:cum_vals][i].round(3) %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<br>
<p><i>Each year the first ET email will arrive in your inbox on April 2nd and the last on November 1st.</i></p>
<p><i>If you no longer wish to receive daily ET emails, <%= link_to "click this link", unsubscribe_subscriber_url(@subscriber, token: @subscriber.confirmation_token) %> to be removed.</i></p>
