<style>
  body {
    font-family: sans-serif;
  }

  a, a:visited {
    color: inherit;
  }

  .container {
    max-width: 650px;
    margin-right: auto;
    background: #f7f5ee;
    border: 1px solid #8b846a;
    border-radius: 10px;
  }

  .header {
    background: #e9e4d0;
    padding: 1em;
    font-family: verdana, sans-serif;
    text-align: center;
    text-transform: small-caps;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #8b846a;
  }

  .header h1 {
    font-size: 1.2em;
    margin: 0;
  }

  .header a {
    text-decoration: none;
  }

  .main {
    padding: 1em;
  }

  .main a:hover {
    color: blue;
  }

  .box {
    margin: 2em auto;
    max-width: 100%;
  }

  .box-header {
    margin-bottom: 5px;
  }

  .box-content {
    overflow: auto;
    font-size: 0.9em;
  }

  .maps-link {
    font-size: 0.8em;
    font-style: italic;
  }

  table {
    border-collapse: collapse;
    border: 1px solid grey;
  }

  thead {
    border-bottom: 1px solid grey;
    background: #e9e4d0;
  }

  th, td {
    text-align: right;
    padding: 0.25em 1em 0.25em 1em;
  }

  th:first-child, td:first-child {
    text-align: left;
  }

  tr:nth-child(even) {
    background: #e9e4d0;
  }

  tr:last-child {
    font-weight: bold;
    border-bottom: 1px solid grey;
  }

  li {
    margin-bottom: 0.2em;
  }

  .footer {
    margin: 1em;
    padding-top: 1em;
    border-top: 1px solid #d3caa9;
    font-size: smaller;
    color: grey;
    font-style: italic;
  }
</style>

<div class="container">
  <div class="header">
    <h1><%= link_to "UW Extension Ag Weather Automated Mailer", root_url %></h1>
  </div>
  <div class="main">
    <p>The past week's weather data for the site(s) you've requested are shown below:</p>
    <% @data.each do |site| %>
      <div class="box">
        <div class="box-header">
          <b><%= "#{site[:site_name]} (#{site[:lat]}, #{site[:long]})" %></b> - <span class="maps-link"><%= link_to "maps link", "https://www.google.com/maps/search/?api=1&query=#{site[:lat]}%2C+#{site[:long]}", target: "_blank" %></span>
          <br>
        </div>
        <div class="box-content">
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Max temp<br>(&deg;F)</th>
                <th>Min temp<br>(&deg;F)</th>
                <th>Precip<br>(in)</th>
                <th>Pot. ET<br>(in)</th>
              </tr>
            </thead>
            <tbody>
              <% site[:site_data].values.each do |day| %>
                <tr>
                  <td><%= day[:date] %></td>
                  <td><%= day[:min_temp] %></td>
                  <td><%= day[:max_temp] %></td>
                  <td><%= day[:precip] %></td>
                  <td><%= day[:et] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <h4>More information:</h4>
    <ul>
      <li><%= link_to "AgWeather homepage", root_url %></li>
      <li><%= link_to "Daily weather map", controller: :weather, action: :weather_map %></li>
      <li><%= link_to "Precipitation map", controller: :weather, action: :precip_map %></li>
      <li><%= link_to "Evapotranspiration map", controller: :sun_water, action: :et_map %></li>
      <li><%= link_to "Insolation map", controller: :sun_water, action: :insol_map %></li>
    </ul>
  </div>
  <div class="footer">
    Each year the first ET email will arrive in your inbox on May 1st and the last on Sept 30th. To edit your subscriptions, <%= link_to "click here", subscribers_url %>. If you no longer wish to receive daily ET emails, <%= link_to "click this link", unsubscribe_subscriber_url(@subscriber, token: @subscriber.confirmation_token) %> to be removed.
  </div>
</div>
