<p>THIS EMAIL WAS SENT BY THE UW EXTENSION AG WEATHER AUTOMATED MAILER, DO NOT REPLY.</p>
<br>
<p>Daily evapotranspiration (ET) data for <%= @subscriber.name %>.</p>
<p>The daily potential ET data for the site(s) you requested is shown below for <%= @date.strftime('%m/%d/%Y') %>.</p>
<br>
<table>
  <thead>
    <tr>
      <th align="left" style="width: 12em;">Site ID</th>
      <th align="left" style="width: 7em;">Location</th>
      <th align="left" style="width: 4em;">Date</th>
      <th align="right" style="width: 6em;">ET Value<br>(in/day)</th>
      <th align="right" style="width: 6em;">Cumul.<br>ET Value</th>
    </tr>
  </thead>
  <tbody>
    <% @values.each_with_index do |sub, s| %>
      <% if s > 0 %>
        <tr style="height: 1em;"><td colspan=5></td></tr>
      <% end %>
      <% sub[:dates].each_with_index do |d, i| %>
        <% if i == 0 %>
          <tr>
            <td><%= sub[:site_name] %></td>
            <td><a href="https://www.google.com/maps/search/?api=1&query=<%= sub[:latitude] %>%2C+<%= sub[:longitude] %>" target="_blank"><%= sub[:latitude] %>, <%= sub[:longitude] %></a></td>
            <td><%= d.strftime("%b-%d") %></td>
            <td align="right">
              <% if sub[:values][i].negative?() %>
                No data
              <% else %>
                <%= sub[:values][i].round(3) %>
              <% end %>
            </td>
            <td align="right"><%= sub[:cum_vals][i].round(3) %></td>
          </tr>
        <% else %>
          <tr>
            <td></td>
            <td></td>
            <td><%= d.strftime("%b-%d") %></td>
            <td align="right">
              <% if sub[:values][i].negative?() %>
                No data
              <% else %>
                <%= sub[:values][i].round(3) %>
              <% end %>
            </td></td>
            <td align="right"><%= sub[:cum_vals][i].round(3) %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<p><i>Each year the first ET email will arrive in your inbox on April 1st and the last on November 1st. To edit your subscriptions, <a href="https://agweather.cals.wisc.edu/subscribers">click here</a>. If you no longer wish to receive daily ET emails, <%= link_to "click this link", unsubscribe_subscriber_url(@subscriber, token: @subscriber.confirmation_token) %> to be removed.</i></p>
