<% border = "1px solid #8b846a" %>
<% bg_drk = "#e9e4d0" %>
<% bg_lt = "#f7f5ee" %>

<style>
  body {
    font-family: tahoma, sans-serif;
  }

  table {
    border-collapse: collapse;
  }

  @media only screen and (max-width: 600px) {
    table {
      width: 100% !important;
    }
  }

  a, a:hover, a:visited {
    color: inherit;
  }
</style>

<!--[if gt mso 15]>
  <style type="text/css" media="all">
    /* Outlook 2016 Height Fix */
    table, tr, td {border-collapse: collapse;}
    tr { font-size:0px; line-height:0px; border-collapse: collapse; }
  </style>
<![endif]-->

<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="center">
      <table role="presentation" width="600" cellpadding="15" cellspacing="0" bgcolor=<%= bg_lt %> style="border-collapse: collapse; table-width: fixed;">
        <thead>
          <tr>
            <td bgcolor=<%= bg_drk %> style="font-family: verdana, sans-serif; font-size: 1.2em; text-align: center; border-top: 4px solid #8b846a;">
              <b>UW Extension Ag Weather Automated Mailer</b>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td bgcolor=<%= bg_lt %>>
              Your data subscriptions for <%= Date.current.strftime("%A, %B %-d") %> are shown below. To enable, disable, or edit your sites or subscriptions, <%= link_to "click here", confirm_subscriber_url(@subscriber, token: @subscriber.confirmation_token) %>.
            </td>
          </tr>
          <tr>
            <td bgcolor=<%= bg_lt %>>
              <% @data.each_with_index do |site, i| %>
              <% name = site[:name]; lat = site[:lat]; long = site[:long] %>
                <% if i > 0 %><p>&nbsp;</p><% else %><br><% end %>
                <table bgcolor=<%= bg_drk %> width="100%" cellpadding=10 style="text-align: center; border: 2px solid #8b846a;">
                  <tr>
                    <td>
                      <b><%= "#{name} (#{lat}, #{long})" %></b> - <span style="font-size: 0.8em;"><i><%= link_to "maps link", "https://www.google.com/maps/search/?api=1&query=#{lat}%2C+#{long}" %></i></span>
                    </td>
                  </tr>
                </table>
                <% if site[:data].size > 0 %>
                  <% site[:data].each do |subscription| %>
                    <%= render partial: subscription[:partial], locals: {lat:, long:, subscription:} %>
                  <% end %>
                <% else %>
                  <p style="font-size: smaller;"><i>This site is active, but you don't have any data subscriptions enabled for it. <%= link_to "Click here", confirm_subscriber_url(@subscriber, token: @subscriber.confirmation_token) %> to edit your subscriptions.</i></p>
                <% end %>
              <% end %>
              <br>
            </td>
          </tr>
          <tr>
            <td bgcolor=<%= bg_drk %> style="font-size: 0.8em; color: grey;">
              <p>
                <b>More information:</b> 
                <%= link_to "AgWeather", root_url %> - 
                <%= link_to "UW Vegetable Entomology", vegento_url %> - 
                <%= link_to "UW Vegetable Pathology", vegpath_url %>
              </p>
              <p>
                <b>Maps and data:</b> 
                <%= link_to "Weather", {controller: :weather, action: :weather_map} %> - 
                <%= link_to "Precipitation", {controller: :weather, action: :precip_map} %> - 
                <%= link_to "Evapotranspiration", {controller: :sun_water, action: :et_map} %> - 
                <%= link_to "Insolation", {controller: :sun_water, action: :insol_map} %> - 
                <%= link_to "Thermal Models", {controller: :thermal_models, action: :index} %>
              </p>
              <p><b>Degree days and pest models:</b> <%= link_to "VDIFN web app", root_url + vdifn_url %></p>
              <p><b>Irrigation scheduling:</b> <%= link_to "WISP web app", wisp_url %><p>
              <br>
              <% if @data.to_s.downcase.include? "no data" %>
                <p><i>Note: 'No data' in tables indicates there was a problem retrieving weather data this morning from NOAA servers. This is usually resolved by the following day.</i></p>
              <% end %>
              <p><i>To edit your subscriptions, <%= link_to "click here", confirm_subscriber_url(@subscriber, token: @subscriber.confirmation_token) %>. If you no longer wish to receive daily emails, <%= link_to "click this link", unsubscribe_subscriber_url(@subscriber, token: @subscriber.confirmation_token) %> to disable all your subscriptions. Please do not reply to this email. If you have any questions or comments, get in touch with us at <%= mail_to "agweather@cals.wisc.edu" %>.</i></p>
              <p><i>Developed by the College of Agriculture and Life Sciences at the University of Wisconsin-Madison.</i></p>
            </td>
          </tr>
      </table>
    </td>
  </tr>
</table>
