<div class="form-box">
  <%= form_tag action: :get_dds do %>
    <h4 class="title">Enter parameters:</h4>

    <%= render partial: "partials/location_picker" %>
    <%= render partial: "partials/date_range_picker" %>

    <fieldset>
      <legend>Model options:</legend>

      Temperature units:<br>
      <label><%= radio_button_tag :units, "F", true %>&deg;F (FDD)</label>&nbsp;
      <label><%= radio_button_tag :units, "C" %>&deg;C (CDD)</label>

      <br><br>

      Thresholds:<br>
      <label><%= text_field_tag :base_temp, 50, { size: 3 } %> Base<br></label>
      <label><%= text_field_tag :upper_temp, "None", { size: 3 } %> Upper</label>

      <br><br>

      Method:<br>
      <label><%= radio_button_tag :method, "sine", true %>Sine</label>&nbsp;
      <label><%= radio_button_tag :method, "modified" %>Modified</label>&nbsp;
      <label><%= radio_button_tag :method, "average" %>Average</label>

      <br><br>

      <label>
        <%= check_box_tag :seven_day %>
        Report only last 7 days of accumulated values
      </label>
    </fieldset>

    <%= button_tag "View in Browser", name: "format", value: "html" %>
    <%= button_tag "Download as CSV", name: "format", value: "csv" %>
    <%= button_tag "View as JSON", name: "format", value: "json" %>
  <% end %>
</div>
