<div class="form-box">
  <%= form_tag(action: :oak_wilt_dd) do %>
    <b>Select location and date of interest for Oak Wilt recommendation:</b><br>
    <p>
      <div onChange="moveDot()">
        Location:<br>
        <label><%= select_tag(:latitude, options_for_select(latitudes, default_latitude)) %> Latitude</label>&nbsp;
        <label><%= select_tag(:longitude, options_for_select(longitudes, default_longitude)) %> Longitude</label><br>
        <button type="button" onclick="getGeoLocation()">Get my location</button>&nbsp;<span id="geo-loc-msg"></span>
      </div>
    </p>
    <p>
      <div onChange="validateDate()">
        Date of Interest:<br>
        <%= date_select(:end_date, "date", start_year: 2017, default: 1.day.ago, end_year: Time.now.year) %>
      </div>
    </p>
    <p>
      <div id="date-warning" style="display:none;">
        <p>Date of interest must be prior to the current date.<p>
      </div>
      <p class="disclaimer">Note: Date of interest must be prior to the current date. The degree day data in this system is available only up to the day before the current date for computation.</p>
    </p>
    <%= submit_tag("Compute Estimated Oak Wilt Vector Emergence Status", class: "button", id: "submit") %>
    <p><b>Please note: The oak harvesting recommendations from this model only apply to Wisconsin, Minnesota, and Iowa.</b></p>
  <% end %>
</div>
