<% @title="Oak Wilt Degree Days"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png",{:width => "231", :height => "180", :alt => "Gridded Map"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<p>Degree Days from January 1, <%= params["end_date"].to_date.strftime("%Y") %> to <%= params["end_date"].to_date.strftime("%B %d, %Y") %>:</p>
<% for date in params["data"].keys.sort %>
  <%= date %>&nbsp;<%= params["data"][date] %><br/>
<% end %>
