<% @title = "Degree Day and Disease Severity Maps" %>
<% @welcome_image = "degree-flower.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Generate maps of Wisconsin or the upper Midwest for common degree day models and several plant disease risk models. Calculations are based on daily temperature and humidity.</p>
<% end %>

<h2><%= link_to @title %></h2>
<hr>

<h4>Introduction</h4>
<p>These maps show either degree day accumulation (useful for estimating pest or plant development), or disease severity accumulation (useful for understanding the risk of onset of certain fungal plant diseases). Generating a map may take 10-15 seconds for the upper Midwest region or 5 seconds for Wisconsin only. Once a map has been generated it will load automatically.</p>
<p>For more information on degree day models or to get data for a specific model or location, <%= link_to "click here", action: :degree_days %>. For more information on insect pests, visit <%= link_to "UW Vegetable Entomology", vegento_url, target: "_blank" %>. For more information on plant disease modeling, visit <%= link_to "UW Vegetable Pathology", vegpath_url, target: "_blank" %>. To view these models and data in a more interactive framework, check out our <%= link_to "Vegetable and Disease Forecasting Network (VDIFN)", vdifn_path, target: "_blank" %> website.</p>
<p>Use the options below to view or generate a degree day or disease severity map. Currently it is only possible to get tabular data for degree days on this site from <%= link_to "this page", action: :degree_days %>, but we may add the ability to download disease severity data in the future.</p>

<h4>Degree Day and Disease Severity Maps</h4>

<%= render_async map_image_thermal_models_path,
  method: "POST",
  data: {
    endpoint: @endpoint,
    id: @model,
    query: @opts,
    caption: "Note: Map data unavailable outside of Wisconsin prior to around October 2021."
  }.to_json,
  error_message: "Sorry, unable to load map. Please try again." do %>
  <% @wait_time = 30 %>
  <%= render layout: "partials/loading" do %>
    <p>
      Model: <%= dd_models[@model][:label] %><br>
      Date range: <%= "#{@opts[:start_date]} - #{@opts[:end_date]}" %>
      <% unless @map_type == "dsv" %><br>Units: <%= "#{@units}" %><% end %>
      <% if @min_value.presence || @max_value.presence %><br>Scale bar: <%= @min_value.presence ? @min_value : "?"  %> - <%= @max_value.presence ? @max_value : "?" %><% end %>
      <br>Map extent: <%= @wi_only ? "Wisconsin only" : "Upper Midwest" %>
    </p>
  <% end %>
<% end %>

<div class="two-box">
  <div class="box">
    <b>Choose a degree day model to load:</b>
    <div class="map-form grey" onChange="validateDates(this)">
      <%= form_tag action: :dd_map do %>
        <div class="form-row">
          <label>
            Choose model: 
            <%= select_tag :dd_model, options_for_select(dd_labels, @dd_model) %>
          </label>
        </div>
        <div class="form-row">
          Temperature units: 
          <label><%= radio_button_tag(:units, "F", @units == "F") %>Fahrenheit</label>&nbsp;
          <label><%= radio_button_tag(:units, "C", @units == "C") %>Celsius</label>
        </div>
        <div class="form-row">
          Date range:<br>
          <div id="start-date">
            <label><%= date_select :start_date, "date", start_year: Time.now.year - 4, end_year: Time.now.year, default: @start %>Start date</label><br>
          </div>
          <div id="end-date">
            <label><%= date_select :end_date, "date", start_year: Time.now.year - 4, end_year: Time.now.year, default: @end %>End date</label>
          </div>
          <div id="date-warning"></div>
        </div>
        <div class="form-row">
          Color scale (leave blank to scale automatically):<br>
          <label>Min <%= number_field_tag(:min_value, nil, style: "width: 4em;") %></label> - <label><%= number_field_tag(:max_value, nil, style: "width: 4em;") %> Max</label>
        </div>
        <div class="form-row">
          <label>Wisconsin only? <%= check_box_tag(:wi_only, true, @wi_only) %></label>
        </div>
        <%= hidden_field_tag :map_type, "dd" %>
        <%= hidden_field_tag :dsv_model, @dsv_model %>
        <%= submit_tag @dd_submit_text, id: "submit" %>
      <% end %>
    </div>
  </div>
  <div class="box">
    <b>Choose a disease severity model to load:</b>
    <div class="map-form grey" onChange="validateDates(this)">
      <%= form_tag action: :dd_map do %>
        <div class="form-row">
          Choose model:<br>
          <%= select_tag :dsv_model, options_for_select(dsv_labels, @dsv_model) %>
        </div>
        <div class="form-row">
          Date range:<br>
          <div id="start-date">
            <label>
              <%= date_select :start_date, "date", start_year: Time.now.year - 4, end_year: Time.now.year, default: @start %>
              Start date
            </label>
          </div>
          <div id="end-date">
            <label>
              <%= date_select :end_date, "date", start_year: Time.now.year - 4, end_year: Time.now.year, default: @end %>
              End date
            </label>
          </div>
          <div id="date-warning"></div>
        </div>
        <div class="form-row">
          Color scale (leave blank to scale automatically):<br>
          <label>Min <%= number_field_tag(:min_value, nil, style: "width: 4em;") %></label> - <label><%= number_field_tag(:max_value, nil, style: "width: 4em;") %> Max</label>
        </div>
        <div class="form-row">
          <label>Wisconsin only? <%= check_box_tag(:wi_only, true, @wi_only) %></label>
        </div>
        <%= hidden_field_tag :map_type, "dsv" %>
        <%= hidden_field_tag :dd_model, @dd_model %>
        <%= hidden_field_tag :units, @units %>
        <%= submit_tag @dsv_submit_text, id: "submit" %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :footer do %>
  <%= link_to "Back", action: :index %>
<% end %>
