<% content_for :title do %>
 Degree Day Calculator
<% end %>

<% content_for :welcome do %>
  <%= image_tag "thermal.png", {:width => "231", :height => "231", :alt => "Contour map"} %>
  <h2>Thermal Models</h2>
  <p></p>
<% end %>

<!-- Content for remainder of stuff -->
<%= image_tag "degree_flower.png", {:width => "109", :height => "80", :alt => "Pic 2", :class => "left"} %>
<h2>Degree Day Calculator</h2>
<%= render partial: "partials/degree_days_explained" %>
<%= render partial: "partials/degree_day_table" %>
<br>
<h3>Get degree-day data series:</h3>
<br>
<%= render partial: "partials/dd_selector" %>
<br>