<% @title = "Date of First Frost" %>
<% @welcome_image = "frost-map-250px.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>First frost days from our historical dataset</p>
<% end %>

<h2><%= link_to(@title, "") %></h2>

<hr>

<p>Analyzing our gridded temperature dataset, we can map the day of first frost,defined as the first day after July 1 where the minimum temperature is below 32 F. (See our <%= link_to "day-of-year calendar", controller: :weather, action: :doycal %>.)</p>

<p>The first map shows the median DOY of first frost; for each map location, half the years were earlier than this date, half later. The second and third map show the earliest DOY of frost in the dataset, and the latest, respectively.</p>

<div class="center">
  <h4>Median day of first frost</h4>
  <p><%= image_tag "frost_maps/frost-map-median.png" %></p>
  <h4>Latest date of first frost</h4>
  <p><%= image_tag "frost_maps/frost-map-max.png" %></p>
  <h4>Earliest date of first frost</h4>
  <p><%= image_tag "frost_maps/frost-map-min.png" %></p>
</div>

<br>

<%= link_to "Back", :back %>
