<% @title="Degree Days"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png",{:width => "231", :height => "180", :alt => "Gridded Map"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<%= @param %> for <%= @latitude %>, -<%= @longitude %> from <%= @start_date %> to <%= @end_date %>:<br/>
<table>
  <thead>
    <tr>
      <th style="width: 8em;">Date</th>
      <th>DDs</th>
    </tr>
  </thead>
  <tbody>
  <% for date in @data.keys.sort %>
    <tr>
      <td><%= date %></td>
      <td><%= @data[date] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
