<% @title="Oak Wilt Vectors Emergence Thermal Model"%>

<% content_for :welcome do %>
  <%= image_tag "ow_leaves.jpg",{:width => "231", :height => "180", :alt => "Oak Wilt"} %>
  <h2><%= @title %></h2>
<% end %>

<% if @data.length > 0 %>
  <% @scenario = define_scenario(@data.last[:cumulative_value], @end_date) %>
  <p>
    Cumulative degree days from January 1, <%= @end_date.strftime("%Y") %> to <%= @end_date.strftime("%B %d, %Y") %><br>
    at Latitude: <%= params[:latitude] %>&deg;N, Longitude: <%= params[:longitude] %>&deg;W
  </p>
  <h4>GDD: <b><%= @data.last[:cumulative_value] %></b> Fahrenheit degree days</h4>

  <br>
  <% if @scenario %>
    <%= render partial: "partials/threshold_recommendations/#{@scenario}" %>
  <% end %>
  <a href="#" onclick="displayAllDds()">View all Degree Days for this date range</a> |
  <%= render partial: "partials/download_csv", :locals => {data: @data.to_json }%> |
  <%= link_to 'Back', :back %>
  <div id="oak-wilt-list" style="display:none">
    <%= render partial: "partials/all_oak_wilt_dds", :locals => {data: @data, end_date: @end_date}%>
  </div>
<% else %>
  <h3>Data for this date range is currently unavailable.</h3>
<% end %>

<br><%= link_to "Back", :back %>
