<% @title="Degree Days"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png",{:width => "231", :height => "180", :alt => "Gridded Map"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<h2><%= @title %></h2>
<br>

<h4><u><%= @param %> data</u></h4>
<p>
  <strong>Location:</strong> <%= @latitude %>&deg;N, <%= @longitude %>&deg;W<br>
  <strong>Date range:</strong> <%= @start_date %> to <%= @end_date %><br>
  <strong>Temp. units:</strong> Fahrenheit
</p>

<table class="grid-table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Date</th>
      <th>Min<br>temp</th>
      <th>Max<br>temp</th>
      <th>DDs</th>
      <th>Cumul.<br>DDs</th>
    </tr>
  </thead>
  <tbody>
  <% @data.each_with_index do |day, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= day[:date] %></td>
      <td><%= day[:min_temp] %></td>
      <td><%= day[:max_temp] %></td>
      <td><%= day[:value] %></td>
      <td><%= day[:cumulative_value] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back", :back %>
