<% @title="Oak Wilt Degree Day"%>
<% @senario=define_senario(@data.values.last, @end_date) %>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "ow_leaves.jpg",{:width => "231", :height => "180", :alt => "Oak Wilt"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<h3>The Cumulative Degree Day from January 1,  <%= @end_date.strftime("%Y") %> to <%= @end_date.strftime("%B %d, %Y") %> is <b><%= @data.values.last %></b> degree days.</h3>
<br/>
<% if @senario %>
  <%= render partial: "partials/threshold_recommendations/#{@senario}" %>
<% end %>
<a href="#" onclick="displayAllDds()">View all Degree Days for this date range</a>
<div id="oak-wilt-list" style="display:none">
  <%= render partial: "partials/all_oak_wilt_dds", :locals => {data: @data, end_date: @end_date}%>
</div>
