<% @title="Oak Wilt Vectors Emergence Thermal Model"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "ow_leaves.jpg",{:width => "231", :height => "180", :alt => "Oak Wilt"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<% if @data.length > 0 %>
  <% @scenario = define_scenario(@data.values.last, @end_date) %>
  <h3>The cumulative degree days</h3>
  <h3>from January 1,  <%= @end_date.strftime("%Y") %> to <%= @end_date.strftime("%B %d, %Y") %> </h3>
  <h3>at Latitude: <%= params[:latitude] %>&deg;N, Longitude: <%= params[:longitude] %>&deg;W</h3>
  <h3>GDD: <b><%= @data.values.last %></b> Fahrenheit degree days</h3>

  <br/>
  <% if @scenario %>
    <%= render partial: "partials/threshold_recommendations/#{@scenario}" %>
  <% end %>
  <a href="#" onclick="displayAllDds()">View all Degree Days for this date range</a> |
  <%= render partial: "partials/download_csv", :locals => {data: @data}%> |
  <%= link_to 'Back', :back %>
  <div id="oak-wilt-list" style="display:none">
    <%= render partial: "partials/all_oak_wilt_dds", :locals => {data: @data, end_date: @end_date}%>
  </div>
<% else %>
  <h3>Data for this date range is currently unavailable.</h3>
  <div class='back-button'>
    <%= link_to 'Back', :back %>
  </div>
<% end %>
