<% @title = "Thermal Models" %>

<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "icons/thermal.png", width: "100%" %>
  <h2>Thermal Models</h2>
  <p>Growth and development for many plants and insects is keyed to temperature. By calculating the history of daily temperatures over a season, we can predict pest emergence, crop development, and other events of keen interest in agriculture.</p>
<% end %>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/vdifn-250px.png"), "http://agweather.cals.wisc.edu/vdifn", target: "_blank" %>
  </div>
  <div>
    <h2><%= link_to "Vegetable Disease & Insect Forecasting Network", "http://agweather.cals.wisc.edu/vdifn", target: "_blank" %></h2>
    <p>Visual map-based interface to view disease risk models, insect developmental models, and degree-day accumulation in Wisconsin and surrounding states. This is the newest and most advanced tool we have available.</p>
  </div>
</div>

<div class="fineline"></div>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/dd-calc-250px.png"), action: :degree_days %>
  </div>
  <div>
    <h2><%= link_to "Generic Degree Day Calculator", action: :degree_days %></h2>
    <p>This calculator allows you to input your location, method of calculation (e.g. Modified Sine B), and the appropriate biofix dates.</p>
  </div>
</div>

<div class="fineline"></div>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/frost-map-250px.png"), action: :frost_map %>
  </div>
  <div>
    <h2><%= link_to "Frost Map", action: :frost_map %></h2>
    <p>The first map shows the median DOY of first frost; for each map location, half the years were earlier than this date, half later. The second and third map show the earliest DOY of frost in the dataset, and the latest, respectively.</p>
  </div>
</div>

<div class="fineline"></div>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/oak-wilt-250px.png"), action: :oak_wilt %>
  </div>
  <div>
    <h2><%= link_to "Oak Wilt Vectors Emergence Thermal Model", action: :oak_wilt %></h2>
    <p>Degree-day information on emergence of insects that transmit oak wilt.</p>
  </div>
</div>

<div class="fineline"></div>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/alfalfa-weevil.png"), action: :alfalfa_weevil %>
  </div>
  <div>
    <h2><%= link_to "Alfalfa Weevil Thermal Models", action: :alfalfa_weevil %></h2>
    <p>Degree-day information on weevil development.</p>
  </div>
</div>

<div class="fineline"></div>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/seedcorn-maggot.png"), action: :scm %>
  </div>
  <div>
    <h2><%= link_to "Seedcorn Maggot", action: :scm %></h2>
    <p>Degree day models for this pest of soybean, corn, and vegetable crops</p>
  </div>
</div>

<div class="fineline"></div>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/ecb.png"), action: :ecb %>
  </div>
  <div>
    <h2><%= link_to "European Corn Borer", action: :ecb %></h2>
    <p>Development of European corn borer can be estimated using a Modified base 50 F degree-day calculation.</p>
  </div>
</div>

<div class="fineline"></div>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/wbc.png"), action: :western_bean_cutworm %>
  </div>
  <div>
    <h2><%= link_to "Western Bean Cutworm", action: :western_bean_cutworm %></h2>
    <p>Development of European corn borer can be estimated using a Modified base 50 F degree-day calculation.</p>
  </div>
</div>