<% @title = "Thermal Models" %>
<% @welcome_image = "thermal.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Growth and development for many plants and insects is keyed to temperature. By calculating the history of daily temperatures over a season, we can predict pest emergence, crop development, and other events of keen interest in agriculture.</p>
<% end %>

<div class="row">
  <div class="left">
    <%= link_to image_tag("vdifn-250px.png"), vdifn_path, target: "_blank" %>
  </div>
  <div>
    <h2><%= link_to "Vegetable Disease & Insect Forecasting Network", vdifn_path, target: "_blank" %></h2>
    <p>Visual map-based interface to view disease risk models, insect developmental models, and degree-day accumulation in Wisconsin and surrounding states. This is the newest and most advanced tool we have available.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("dd-map-250px.png"), action: :dd_map %>
  </div>
  <div>
    <h2><%= link_to "Degree Day and Disease Severity Maps", action: :dd_map %></h2>
    <p>View maps of degree day accumulation based on your parameters.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("degree-flower.png"), action: :degree_days %>
  </div>
  <div>
    <h2><%= link_to "Generic Degree Day Calculator", action: :degree_days %></h2>
    <p>This calculator allows you to input your location, method of calculation (e.g. average/modified/sine), and the appropriate biofix dates.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("oak-wilt-250px.png"), action: :oak_wilt %>
  </div>
  <div>
    <h2><%= link_to "Oak Wilt Vectors Emergence Thermal Model", action: :oak_wilt %></h2>
    <p>Degree-day information on emergence of insects that transmit oak wilt and recommendations for when it is safe to prune/cut/harvest oak in Wisconsin.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("potato.png"), action: :potato %>
  </div>
  <div>
    <h2><%= link_to "Potato Pests and Diseases", action: :potato %></h2>
    <p>Learn more and view links to resources about potato diseases and insect pests.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("alfalfa-weevil.png"), action: :alfalfa_weevil %>
  </div>
  <div>
    <h2><%= link_to "Alfalfa Weevil Thermal Models", action: :alfalfa_weevil %></h2>
    <p>Degree-day information on weevil development.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("stalk-borer.png"), action: :ecb %>
  </div>
  <div>
    <h2><%= link_to "Corn Stalk Borer", action: :corn_stalk_borer %></h2>
    <p>Development of corn stalk borer can be estimated using a base 41 F degree-day calculation.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("ecb.png"), action: :ecb %>
  </div>
  <div>
    <h2><%= link_to "European Corn Borer", action: :ecb %></h2>
    <p>Development of European corn borer can be estimated using a Modified base 50 F degree-day calculation.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("spongy.png"), action: :spongy_moth %>
  </div>
  <div>
    <h2><%= link_to "Spongy Moth", action: :spongy_moth %></h2>
    <p>This page has some information on plant blooms and other natural phenological events that can help predict the development of spongy moth (previously known as gypsy moth).</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("seedcorn-maggot.png"), action: :scm %>
  </div>
  <div>
    <h2><%= link_to "Seedcorn Maggot", action: :scm %></h2>
    <p>Degree day models for this pest of soybean, corn, and vegetable crops</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("wbc.png"), action: :western_bean_cutworm %>
  </div>
  <div>
    <h2><%= link_to "Western Bean Cutworm", action: :western_bean_cutworm %></h2>
    <p>Development of European corn borer can be estimated using a Modified base 50 F degree-day calculation.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("corn.png"), action: :corn_dev %>
  </div>
  <div>
    <h2><%= link_to "Corn Development", action: :corn_dev %></h2>
    <p>Instructions for tracking corn development using a degree day model.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="left">
    <%= link_to image_tag("frost-map-250px.png"), action: :frost_map %>
  </div>
  <div>
    <h2><%= link_to "Frost Map", action: :frost_map %></h2>
    <p>The first map shows the median DOY of first frost; for each map location, half the years were earlier than this date, half later. The second and third map show the earliest DOY of frost in the dataset, and the latest, respectively.</p>
  </div>
</div>
