<% @title = "Oak Wilt Thermal Model" %>
<% @welcome_image = "ow-leaves.jpg" %>

<% content_for :welcome do %>
  <h2><%= @title%></h2>
  <p>Oak wilt is a fungal disease carried by bark beetles. Prevention involves avoiding pruning or cutting oak trees during peak beetle flight periods (spring-summer). Use this thermal model to understand the risk in your area.</p>
<% end %>

<%= content_for :scripts do %>
<script>
  function displayAllDDs(){
    el = document.getElementById("oak-wilt-list");
    el.style.display = el.style.display == "none" ? "block" : "none";
  }
  let url = window.location.pathname + "?lat=" + <%= @latitude %> + "&long=" + <%= @longitude %>;
  $(document).ready(() => { window.history.replaceState({}, "", url) })
</script>
<% end %>

<h2>Oak Wilt Vectors Emergence Thermal Model</h2>

<hr>

<% if @data.size > 0 %>
  <h3>Thermal model:</h3>

  <p style="margin-left: 2em; margin-right: 2em;">
    <b>Location:</b> <%= @latitude %>&deg;N, <%= @longitude %>&deg;W (<%= link_to "show on Google maps", "https://www.google.com/maps/search/?api=1&query=#{@latitude},#{@longitude}", target: "_blank" %>)<br>
    <b>Date range:</b> January 1, <%= @end_date.strftime("%Y") %> to <%= @end_date.strftime("%B %d, %Y") %><br><br>
    <b>Degree day model:</b> Base 41&deg;F<br>
    <b>Total degree days:</b> <%= @data.last[:cumulative_value] %> Fahrenheit degree days<br>
    <b>Oak wilt high risk period:</b> 231 - 2172 degree days and date prior to July 15<br><br>
    <b>Predicted risk:</b> <%= @risk %>
  </p>

  <br>

  <h3>Recommendation for <%= @end_date.strftime("%b %d, %Y") %>:</h3>
  
  <div style="margin-left: 2em; margin-right: 2em;">
    <%# GDD is lower than 128.3, and the end date is on or before 7/15. %>
    <% if @scenario == "a" %>
      <p class="larger-font" style="color: darkgreen;">The risk of above-ground transmission of oak wilt is low.</p>

      <p><b>Note:</b> Growing degree days can accumulate quickly and subsequent recommendations can change quickly in March, April, and May. Please check back daily.</p>

      <p><b>Note:</b> When you consider extending harvesting deadlines, it is important to be aware that the stumps and wounds are susceptible for up to 72 hours after cutting.</p>

      <p><b>Estimated vector emergence status:</b> Based on the degree day model (Jagemann et al., 2018), it is estimated that less than 5% of <i>Colopterus truncatus</i> have emerged as of the date yet. <i>C. truncatus</i> and <i>Carpophilus sayi</i> are the two most important insects that transmit oak wilt in Wisconsin. <i>C. truncatus</i> emerges earlier in spring than <i>C. sayi.</i></p>
    <% end %>

    <%# High risk: the end date is before 7/15 and flights are in progress. %>
    <% if %w[b c d e f].include? @scenario %>
      <p class="larger-font warning">Wounding/pruning/harvesting oaks should be avoided.</p>

      <p>If an oak is wounded, consider applying wound dressing immediately to wounds and the last three growth rings of cut stumps. Though not scientifically proven, herbicide application to stumps is believed to make the stump less suitable for pathogen infection.</p>

      <p><b>Forest setting:</b> If your stand is in a county that has oak wilt OR within 6 miles of a county with oak wilt, any activities that may wound oaks should only be considered under certain conditions.  Read <%= link_to "Oak Harvesting Guidelines to Reduce the Risk of Introduction and Spread of Oak wilt", @links[:harvesting_guide], target: "_blank" %> for details.</p>

      <%# vector emergence status %>
      <% if @scenario == "b"; ct = 5; cs = 0; end %>
      <% if @scenario == "c"; ct = 25; cs = 5; end %>
      <% if @scenario == "d"; ct = 50; cs = 25; end %>
      <% if @scenario == "e"; ct = 75; cs = 50; end %>
      <% if @scenario == "f"; ct = 95; cs = 75; end %>

      <p><b>Estimated vector emergence status:</b> Based on the degree day model (Jagemann et al., 2018), it is estimated that at least <%= ct %>% of <i>Colopterus truncatus</i> and <%= cs %>% of <i>Carphophilus sayi</i> have emerged as of the specified date. <i>C. truncatus</i> and <i>C. sayi</i> are the two most important insects that transmit oak wilt in Wisconsin. <i>C. truncatus</i> emerges earlier in spring than <i>C. sayi.</i></p>
    <% end %>

    <%# Low risk: the end date is 7/15. %>
    <% if @scenario == "g" %>
      <p class="larger-font">The risk of overland transmission of oak wilt is greatly reduced after July 15th.</p>

      <p><b>Forest setting:</b> Harvesting can be considered. Read <%= link_to "Oak Harvesting Guidelines to Reduce the Risk of Introduction and Spread of Oak wilt", @links[:harvesting_guide], target: "_blank" %> for details.</p>

      <p><b>Estimated vector emergence status:</b> Although substantial numbers of beetles, especially <i>Carpophillus sayi</i> were trapped past July 15th, only low proportions of beetles carried viable oak wilt fungal spores after July 15th (Jagemann et al., 2018). The abundance of the two major vectors of oak wilt was investigated in Minnesota in 2002 and 2003 (Ambourn et al., 2005). Abundance and contamination rate of <i>Colopterus truncatus</i> with the oak wilt fungal spores peaked in April and May. Abundance of <i>C. sayi</i> peaked in October, but the pathogen was most commonly isolated from beetles collected during May and June.</p>
    <% end %>
  </div>

  <br>

  <a style="text-decoration: underline; cursor: pointer;" onclick="displayAllDDs()">View all Degree Days for this date range</a> | <%= form_tag({action: :download_csv}, {class: "form__download_csv"}) do %>
    <%= hidden_field_tag "data", @data.to_json %>
    <%= hidden_field_tag "filename", "oak wilt risk for #{@end_date.to_formatted_s} at (#{@latitude}, #{@longitude})" %>
    <%= hidden_field_tag "format", "csv" %>
    <%= submit_tag("Download CSV", class: "link", id: "submit")%>
  <% end %> | <%= link_to "Back", action: :oak_wilt %>

  <br>

  <div id="oak-wilt-list" style="display: none;">
    <%= render partial: "oak_wilt_all_dds", locals: { data: @data, end_date: @end_date } %>
  </div>

<% else %>

  <h3>Data for this date range is currently unavailable.</h3>

<% end %>
