<% @title = "Oak Wilt Vectors Emergence Thermal Model" %>
<% @welcome_image = "oak-wilt.png" %>
<%= javascript_include_tag "map_functions" %>

<% content_for :welcome do %>
  <h2><%= link_to @title %></h2>
  <p>This oak wilt degree-day model estimates cumulative emergence of the two most important insects that transmit oak wilt (<i>Colopterus truncatus</i> and <i>Carpophilus sayi</i>) in the spring across Wisconsin. The degree-day model was constructed based on recent vector trapping data in Wisconsin (Jagemann et al., 2018). This model is a useful tool to refine the beginning of the periods when pruning, wounding, and/or harvesting of oaks should be avoided to reduce the risk of introduction of oak wilt.</p>
  <div class="user-guide">
    <%= link_to "User guide", @links[:user_guide], target:"_blank" %>
    <%= link_to "Video tutorial", @links[:video_tutorial], target:"_blank" %>
  </div>
<% end %>

<h2><%= link_to @title %></h2>

<hr>

<p>This oak wilt risk management tool was developed in cooperation with the Wisconsin DNR and uses a degree day model to predict the presence of insect vectors of oak wilt. The idea is to refine the start date (traditionally April 1 in southern Wisconsin and April 15 in northern Wisconsin, see Figure 1 below) of the restricted oak harvesting period based on climatic conditions in a given year. With this tool, the restricted period now begins after the accumulation of 231 Fahrenheit degree days, which may occur days or weeks after these calendar-based cutoffs.</p>

<div class="two-box">
  <%= render partial: "oak_wilt_dd_selector" %>
  <div class="form-box">
    <b>Choose location on map:</b>
    <div id="map-container" style="border: 0px;">
      <%= image_tag "midwest-map-bg.png", id: "map-img" %>
    </div>
  </div>
</div>

<p>The oak wilt vectors thermal model can also be viewed in an interactive map at <%= link_to "VDIFN", "#{vdifn_path}?panel=insect&model=oak-wilt" %>. At VDIFN you can visualize the vector emergence status across the region, but it does not provide any oak harvesting or oak wilt risk recommendations.</p>

<hr>

<h3>Oak Wilt General Information</h3>

<p>Oak wilt is a deadly disease that affects oak trees. First documented in 1944, oak wilt has since been confirmed in most of Wisconsin's counties. Oak wilt is widespread and common throughout central and southern Wisconsin; however, the disease is still uncommon in northern Wisconsin.</p>

<h4>IMPACT</h4>

<p>Oak wilt kills thousands of trees each year in forests, woodlots and urban areas. Oak wilt can even attack and kill healthy trees. The disease is a particularly serious problem for species in the red oak group such as northern red, northern pin and black oaks. Once wilting symptoms are apparent on a red oak, the infected tree will lose most of its leaves and die within approximately one month.</p>

<h4>BIOLOGY</h4>

<p>Oak wilt is caused by the fungus <i>Bretziella fagacearum</i>. The fungus grows through the infected tree's water conducting system, causing the tree to wilt and die. Oak wilt is introduced to an area by sap feeding beetles that carry oak wilt spores to fresh wounds. In Wisconsin, the major sap feeding beetles that transmit oak wilt are <i>Colopterus truncatus</i> and <i>Carpophilus sayi</i>. Spore-bearing fungal mats develop under the bark in the fall or spring following the death of the infected tree. The sap feeding beetles are attracted to the fungal mats and can transport oak wilt spores to fresh wounds or to recently cut oak stumps. Once in an area, the disease spreads to nearby oak trees through interconnected (grafted) root systems, creating an expanding pocket of dead oak trees.</p>

<h4>IDENTIFICATION</h4>

<p>Leaves will wilt and drop from the upper canopy first. Symptoms progress down the tree rapidly. Wilting symptoms are observed from June through September, most commonly in July and August. Leaves of the infected trees turn dull green or bronze, and look water-soaked. Unlike normal leaf fall, the leaves of infected trees drop to the ground when they are still partially-green.</p>

<h4>PREVENTION</h4>

<p>Once the disease exists in a stand, it is difficult to control. <b>Prevention of this disease is the best approach.</b> The greatest risk of oak wilt transmission occurs in the spring and early summer, when oak wilt spore-carrying beetles are abundant and fungal mats are fresh. In Wisconsin, the major sap feeding beetles that transmit oak wilt are <i>Colopterus truncatus</i> and <i>Carpophilus sayi</i>. To help reduce risk, the DNR developed the <%= link_to "Oak Harvesting Guidelines to Reduce the Introduction and Spread of Oak Wilt", @links[:harvesting_guide], target: "_blank" %>. These recommend harvesting only during the non-restricted period if your stand is in a county that has oak wilt or is within 6 miles of a county with oak wilt. Harvesting restricted periods are dependent on your location in the state.</p>

<p style="text-align: center;">
  <b><u>Restricted oak harvesting periods:</u></b><br><br>
  <b>North Zone:</b> April 15 - July 15<br>
  <b>South Zone:</b> April 1 - July 15
</p>

<div style="width: 75%; margin: auto; margin-top: 2em;">
  <p><b>Figure 1. Confirmed oak wilt presence (left) and management zones (right)</b><br>
  <%= image_tag "ow-map-2021.png", alt: "North and south zone map of Wisconsin." %></p>
</div>

<p>Please read the <%= link_to "harvesting guidelines", @links[:harvesting_guide], target: "_blank" %> section on Exceptions and Modifications which may allow for stand-level flexibilities.</p>

<p>For more information about oak wilt, visit the <%= link_to "Wisconsin DNR oak wilt page", @links[:dnr_page], target:"_blank" %>.</p>

<h4>MORE INFORMATION</h4>

<p>Please note that this web page and the guidelines listed here were developed in cooperation with the <%= link_to "Wisconsin Department of Natural Resources", "https://dnr.wisconsin.gov/", target: "_blank" %>. If you reside outside of Wisconsin, consider searching for local news and recommendations from your department of natural resources or university. Quick links to search results:</p>
<ul>
<% %w[Minnesota Michigan Iowa Missouri Illinois Indiana Ohio].each do |state| %>
  <li><%= link_to state, "https://www.google.com/search?q=#{state}+oak+wilt", target: "_blank" %></li>
<% end %>
</ul>

<h4>REFERENCES</h4>

<ol>
  <li>Ambourn, A.K., Juzwik, J., and Moon, R.D. 2005. Seasonal dispersal of the oak wilt fungus by <i>Colopterus truncatus</i> and <i>Carpophilus sayi</i> in Minnesota. Plant Dis. 89:1067-1076.</li>
  <br>
  <li>Jagemann, S.M., Juzwik, J., Tobin P.C., and Raffa K.F. 2018. Seasonal and regional distributions, degree-day models, and phoresy rates of the major sap beetle (Coleoptera: Nitidulidae) vectors of the oak wilt fungus, <i>Bretziella fagacearum</i>, in Wisconsin. Enveron. Entomol. 47:1152-1164.</li>
</ol>

<br>
<%= link_to "Back", action: :index %>
