<% @title = "Potato Pests & Diseases" %>
<% @welcome_image = "potato.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Our potato early blight P-day model and late blight DSV model lets you anticipate disease risk and take preventive action.</p>
<% end %>

<h2><%= @title %></h2>

<hr>

<h4>Potato disease risk</h4>

<p><b>Late blight</b> risk in potato can be modeled using cumulative <b>disease severity values (DSVs)</b>, which are generated during periods of high temperatures and humidities. When 18 or more DSVs accumulate since emergence or since the last fungicide application, preventive action should be considered. Late blight is a rare but serious disease and the accumulation of DSVs only reflects a high risk of disease development <b>when spores are present</b>. </p>

<p>Unlike late blight, <b>early blight</b> spores are assumed to be present in the soil, so once the <b>potato physiological day (p-day)</b> total exceeds 300 since emergence, preventive action for early blight should be considered because disease development risk is elevated.</p>

<p>Learn more about <%= link_to "late blight", "https://vegpath.plantpath.wisc.edu/resources/potato-late-blight/", target: "_blank" %>, <%= link_to "early blight", "https://vegpath.plantpath.wisc.edu/resources/early-blight/", target: "_blank" %> or visit the UW Vegetable Pathology website <%= link_to "here", "https://vegpath.plantpath.wisc.edu/", target: "_blank" %>. You can also view weather data, disease risk, and insect developmental models for the upper Midwest interactively at our Vetable Disease and Insect Forecast Network (VDIFN) website <%= link_to "here", vdifn_path, target: "_blank" %>.

<h4>Current DSV and P-Day values for select locations:</h4>

<%= render_async url_for(action: :potato_data), container_id: "data-container" do %>
  <p>Loading data...</p>
<% end %>

<div id=data-container></div>

<h4>Potato insect pests</h4>

<p>For information on potato pests such as the Colorado Potato Beetle, see our <%= link_to "degree-day calculator", action: :degree_days %> page or visit the <%= link_to "UW Vegetable Entomology website", vegento_url %>. To view potato insect development models, visit our <%= link_to "VDIFN website", vdifn_path %>.</p>

<br>
<hr>
<%= link_to "Back", action: :index %>
