<% @title = "Subscribers (Admin)" %>

<% content_for :welcome do %>
    <%= do_welcome.html_safe %>
<% end %>

<div class="subscriber">
  <%= link_to "<button>Log out</button>".html_safe, logout_subscribers_path %>
  <br />
  <br />
  <%= link_to 'Export Email CSV', export_emails_subscribers_path(format: :csv) %>
  <br />
  <br />
  <%= will_paginate @subscribers, class: :apple_pagination %>
  <br />
  <table width="90%" style="margin-left: 5%;">
    <thead>
      <tr>
        <th width="35%">Name</th>
        <th width="35%">Email</th>
        <th width="5%" align="center">Locations</th>
        <th width="25%" align="right"></th>
      </tr>
    </thead>
    <tbody>
      <% @subscribers.each do |sub| %>
        <tr>
          <td><%= best_in_place sub, :name, :as => :input %></td>
          <td><%= best_in_place sub, :email, :as => :input %></td>
          <td align="center"><%= sub.subscriptions.count %></td>
          <td>
            <%= link_to "<button>Locations</button>".html_safe, manage_subscribers_path(to_edit_id: sub.id) %>
            <%= link_to "<button>Delete</button>".html_safe, subscriber_path(sub.id), method: :delete, data: {confirm: "Are you sure?"} %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <%= will_paginate @subscribers, class: :apple_pagination %>
</div>

<br>

<%= link_to "Back", :back %>
