<% @title = "Subscriber Administration" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
<h2><%= @title %></h2>
<p>Subscriber administration page. Reminder: you cannot change your own email from this page, nor can you set or remove admin status on other users. Use the rails terminal for those tasks.</p>
<% end %>

<h2><%= @title %></h2>
<hr>

<%= render partial: "notices" %>

<p>
  <b>Name:</b> <%= @subscriber.name %><br>
  <b>Email:</b> <%= @subscriber.email %>
</p>

<h3>Subscriber list</h3>
<% n_subs = @all.size %>
<ul>
  <li><b>Total:</b> <%= @subscribers.size %></li>
  <li><b>Active:</b> <%= fmt_x_of_y(@active.size, n_subs) %></li>
  <li><b>Unconfirmed:</b> <%= fmt_x_of_y(@unconfirmed.size, n_subs) %></li>
  <li><b>No sites:</b> <%= fmt_x_of_y(@no_sites.size, n_subs) %></li>
  <li><b>Stale:</b> <%= fmt_x_of_y(@stale.size, n_subs) %></li>
</p>

<div class="apple_pagination">
  <div style="margin-bottom: 1em;">
    <%= form_tag do %>
      <%= select_tag :selection, options_for_select(@selection_opts, @selection), { onchange: "this.form.submit()" } %>
    <% end %>
  </div>
  <%= will_paginate(@subscribers, params: { selection: @selection }) %>
  <div style="overflow: auto; margin: 1em 0; padding: 5px 0;">
    <table class="simple-table" style="width: 100%">
      <thead>
        <tr style="border-bottom: 1px solid grey">
          <th>ID</th>
          <th>Name</th>
          <th width=20%>Email</th>
          <th>Created</th>
          <th>Conf?</th>
          <th>Last login</th>
          <th>Sites</th>
          <th>Sub?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @subscribers.each do |subscriber| %>
          <tr style="<%= @subscriber.id == subscriber.id ? 'font-weight:bold;' : '' %>">
            <td><%= subscriber.id %></td>
            <td>
              <%= subscriber.admin? ? "[ADMIN] " : ""%>
              <%= subscriber.name %>
            </td>
            <td><%= subscriber.email %></td>
            <td><%= subscriber.created_at.to_date %></td>
            <td><%= subscriber.is_confirmed? %></td>
            <td><%= subscriber.validation_created_at ? subscriber.validation_created_at.to_date : (subscriber.confirmed_at ? subscriber.confirmed_at.to_date : "never") %></td>
            <td align="center"><%= subscriber.sites.size %></td>
            <td align="center"><%= subscriber.emails_enabled ? "Yes" : "No" %></td>
            <td>
              <span style="white-space:nowrap">
                <%= link_to "<button>Manage</button>".html_safe, url_for(action: :manage, to_edit_id: subscriber.id) %>
                <% unless @subscriber.id == subscriber.id || subscriber.admin? %>
                  <%= link_to "<button>Delete</button>".html_safe, subscriber_path(subscriber.id), method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %>
                <% end %>
              </span>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @subscribers, class: :apple_pagination %>
</div>

<%= content_for :footer do %>
<div class="site-controls">
  <div><%= link_to button_tag("Back"), manage_subscribers_path %></div>
  <div><%= link_to button_tag("Export Email CSV"), export_subscribers_path(format: :csv) %></div>
  <div><%= link_to button_tag("Log out"), logout_subscribers_path %></div>
</div>
<% end %>
