<% @title = "Subscriber Administration" %>
<% @welcome_image = "awon.png" %>

<%= content_for :scripts do %>
<script>
  $(".best_in_place").best_in_place()

  $(document).on("best_in_place:error", (event, request, error) => {
    let msg = JSON.parse(request.responseText).message
    let el = `<div id='bip-error' class='error'>Unable to update user. ${msg}</div>`
    $("#bip-notice").html(el)
    $("#bip-error").delay(10000).fadeOut()
  })

  $(document).on('best_in_place:success', (event, request, error) => {
    let msg = "Successfully updated user."
    let el = `<div id='bip-success' class='success'>${msg}</div>`
    $("#bip-notice").html(el)
    $("#bip-success").delay(10000).fadeOut()
  })
</script>
<% end %>

<% content_for :welcome do %>
<h2><%= @title %></h2>
<p>Subscriber administration page. Reminder: you cannot change your own email from this page, nor can you set or remove admin status on other users. Use the rails terminal for those tasks.</p>
<% end %>

<h2><%= @title %></h2>
<hr>

<%= render partial: "notices" %>

<p>
  <b>Name:</b> <%= @subscriber.name %><br>
  <b>Email:</b> <%= @subscriber.email %>
</p>

<p>Name and email can be changed for subscribers in the list below. You cannot change your own email from this page, nor can you set or remove admin status on other users. Use the rails terminal for those tasks.</p>

<div class="apple_pagination">
  <%= will_paginate @subscribers, class: :apple_pagination %>
  <br>
  <table class="simple-table" style="width: 100%">
    <thead>
      <tr style="border-bottom: 1px solid grey">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Locations</th>
        <th>Subscribed?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @subscribers.each do |subscriber| %>
        <tr style="<%= @subscriber.id == subscriber.id ? 'font-weight:bold;' : '' %>">
          <td><%= subscriber.id %></td>
          <td>
            <%= @subscriber.id == subscriber.id ? "[YOU] " : "" %>
            <%= subscriber.admin? ? "[ADMIN] " : ""%>
            <%= best_in_place subscriber, :name, as: :input %>
          </td>
          <td><%= best_in_place_if @subscriber.id != subscriber.id, subscriber, :email, as: :input %></td>
          <td align="center"><%= subscriber.sites.size %></td>
          <td align="center"><%= subscriber.emails_enabled ? "Yes" : "No" %></td>
          <td>
            <%= link_to "<button>Manage</button>".html_safe, url_for(action: :manage, to_edit_id: subscriber.id) %>
            <% unless @subscriber.id == subscriber.id || subscriber.admin? %>
              <%= link_to "<button>Delete</button>".html_safe, subscriber_path(subscriber.id), method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %>
            <% end %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= will_paginate @subscribers, class: :apple_pagination %>
</div>

<span id="bip-notice"></span>

<br>

<%= content_for :footer do %>
<div class="site-controls">
  <div><%= link_to button_tag("Back"), manage_subscribers_path %></div>
  <div><%= link_to button_tag("Export Email CSV"), export_subscribers_path(format: :csv) %></div>
  <div><%= link_to button_tag("Log out"), logout_subscribers_path %></div>
</div>
<% end %>
