<% @title = "Email Subscriptions" %>
<% @welcome_image = "awon.png" %>

<%= content_for :scripts do %>
<script>
  function cycleButton() {
    $(() => {
      $("#resend-btn").prop("disabled", true)

      setTimeout(() => {
        $("#resend-btn").prop("disabled", false)
      }, 5000)
    })
  }

  $(() => {
    cycleButton()

    $("#resend-btn").click((event) => {
      let url = "<%= resend_confirmation_subscriber_url(@subscriber) %>"
      $.post(url)
        .done(() => {
          $("#resend").html("We have resent the confirmation. Please check your email.")
        })
        .error(() => {
          $("#resend").html("ERROR: We were unable to resend your confirmation. Please try logging in again.")
        })
    })
  })
</script>
<% end %>

<% content_for :welcome do %>
<h2><%= @title %></h2>
<p>Add, remove, or manage your saved sites and daily email subscriptions here.</p>
<% end %>

<h2>Account Confirmation</h2>
<hr>

<%= render "notices" %>

<% if @unconfirmed_login_attempt %>
  <p>This account has not yet been confirmed. Please click the link sent to <b><%= @subscriber.email %></b>. If you did not receive any confirmation email, click the button below to re-send it.</p>
  <div id="resend">
    <button id="resend-btn" disabled>Resend Confirmation</button>
  </div>
<% else %>
  <p>Thank you for creating a new account!</p>
  <p>We have sent a confirmation email to <b><%= @subscriber.email %></b>.</p>
  <p>Please click the link in the email to confirm your account and log in.</p>
</p>
<% end %>

<%= content_for :footer do %>
<%= link_to "Back", action: :index %>
<% end %>
