<% @title = "Email Subscriptions" %>
<% @welcome_image = "awon.png" %>

<script>
  subscriber_id = <%= @subscriber.id %>
  site_count = <%= @site_count %>
  min_lat = <%= latitudes.min %>
  max_lat = <%= latitudes.max %>
  min_long = <%= longitudes.min %>
  max_long = <%= longitudes.max %>

  function clearSite() {
    $("#site-name").val("")
    latitude.value = ""
    longitude.value = ""
  }

  function getGeoLocation() {
    navigator.geolocation.getCurrentPosition((position) => {
      let lat = position.coords.latitude.toFixed(1)
      let long = position.coords.longitude.toFixed(1)
      let msg = "Your closest lat/long coordinates are: <b>" + lat + ", " + long + "</b>"
      if (!validateLat(lat) || !validateLong(long)) {
        msg += ". Unfortunately this is outside of our data range."
      } else {
        if ($("#site-name").val() == "") $("#site-name").val("Home")
        latitude.value = lat
        longitude.value = long
      }
      $("#location-display").html(msg)
    })
  }
  
  function validateName(site_name) {
    return $.trim(site_name)
  }

  function validateLat(lat) {
    if (!$.isNumeric(lat)) return false
    let lat_num = parseFloat(lat)
    return (lat_num >= min_lat && lat_num <= max_lat)
  }

  function validateLong(long) {
    if (!$.isNumeric(long)) return false
    let long_num = parseFloat(long)
    return (long_num >= min_long && long_num <= max_long)
  }

  function validate(site_name, lat, long) {
    let validations = []
    if (!validateName(site_name))
      validations.push("Invalid site name, try something different.")
    if (!validateLat(lat))
      validations.push("Latitude must be a number between " + min_lat + " and " + max_lat)
    if (!validateLong(long))
      validations.push("Longitude must be a number between " + min_long + " and " + max_long)
    return validations
  }

  $(document).ready(() => {
    // Enable the 'send email' button after 5 seconds
    if (site_count > 0) {
      setTimeout(() => {$("#send-email").prop("disabled", false)}, 5000)
    }

    // Disable the send email button on click
    $("#send-email").click(() => {
      $("#send-email").prop("disabled", true)
    })

    // Handle subscriptions toggle button
    $("#email-toggle").click(() => {
      let url = (event.target.checked) ?
        "<%= url_for(enable_emails_subscriber_path(@subscriber.id)) %>" :
        "<%= url_for(disable_emails_subscriber_path(@subscriber.id)) %>"

      $.post(url, { to_edit_id: subscriber_id })
        .success((data) => {
          let status = (data.message == "enabled") ? "Subscribed" : "Unsubscribed"
          $("#email-toggle-status").html(status)
          $("#notice").fadeOut()
        })
    })

    // Handle add site button
    $("#submit-site").submit(() => {
      let site_name = $("#site-name").val()
      let lat = $("#latitude").val()
      let long = $("#longitude").val()
      let valid = validate(site_name, lat, long)

      if (valid.length > 0) {
        alert(valid.join("\n"))
        return false
      }

      let url = "<%= url_for(add_site_subscriber_path(@subscriber.id)) %>"
      $.post(url, {
        site_name: site_name,
        latitude: parseFloat(lat).toFixed(1),
        longitude: parseFloat(long).toFixed(1),
        to_edit_id: subscriber_id
      }).success((data) => {
        data.id ? window.location.reload() : alert(data.message)
      })
    })

    // Allow enter key to trigger add
    $('#submit-site').keypress((k) => {
      if (k.which == 13) $(this).closest("form").submit();
    })

    // Handle delete site button
    $("[id^=delete-site]").click((event) => {
      if (!confirm("Are you sure you want to delete this site?")) return
      let site_id = $(event.target).closest("tr").data("site-id")
      let url = "<%= url_for(remove_site_subscriber_path(@subscriber.id)) %>"

      $.post(url, {
        site_id: site_id,
        to_edit_id: subscriber_id
      }).success((data) => {
        (data.message == "success") ?
          window.location.reload() :
          alert("Unable to delete site, try reloading the page.")
      })
    })

    // Handle enable/disable checkboxes for sites
    $("[id^=site-toggle]").change((event) => {
      let site_id = $(event.target).closest("tr").data("site-id")
      let url = (event.target.checked) ?
        "<%= url_for(enable_site_subscriber_path(@subscriber.id)) %>" :
        "<%= url_for(disable_site_subscriber_path(@subscriber.id)) %>"

      $.post(url, {
        site_id: site_id,
        to_edit_id: subscriber_id
      }).success((data) => {
        $("#notice").fadeOut()
        let div = $("#site-status-" + site_id)
        let box = $("#site-box-" + site_id)
        if (data.message == "enabled") {
          div.html("Yes")
          box.css("opacity", 1)
        } else {
          div.html("No")
          box.css("opacity", 0.5)
        }
      })
    })

    // Handle enable/disable checkboxes for subscriptions
    $("[id^=sub-toggle]").change((event) => {
      let site_id = $(event.target).closest("div").data("site-id")
      let sub_id = $(event.target).val()
      let url = (event.target.checked) ?
        "<%= url_for(enable_subscription_subscriber_path(@subscriber.id)) %>" :
        "<%= url_for(disable_subscription_subscriber_path(@subscriber.id)) %>"
      
      $.post(url, {
          to_edit_id: subscriber_id,
          site_id: site_id,
          sub_id: sub_id
      }).success((data) => {
        $("#notice").fadeOut()
      })
    })
  })

  $(".best_in_place").best_in_place()

  $(document).on("best_in_place:error", () => {
    let msg = "Unable to update site, cannot have duplicate names or locations."
    let el = `<div id='bip-error' class='error'>${msg}</div>`
    $("#bip-notice").html(el)
    $("#bip-error").delay(10000).fadeOut()
  });

  $(document).on('best_in_place:success', () => {
    let msg = "Successfully updated site"
    let el = `<div id='bip-success' class='success'>${msg}</div>`
    $("#bip-notice").html(el)
    $("#bip-success").delay(10000).fadeOut()
  });
</script>

<% content_for :welcome do %>
  <h2><%= link_to @title, action: :manage %></h2>
  <p>Add, remove, or manage your saved sites and daily email subscriptions here.</p>
<% end %>

<h2>Automated daily emails</h2>

<hr>

<% if @subscriber.id != session[:subscriber] %>
  <p class="alert">ADMIN: You are editing another user's subscriptions.</p>
<% end %>

<%= render "notices" %>

<b>Name: </b><%= @subscriber.name %><br>
<b>Email: </b><%= @subscriber.email %>

<p>Each morning you can receive email updates for sites of your choosing within our data coverage area. For each site you can choose which data subscriptions your want, including the 7-day weather report, 3-day forecast, several degree-day models, and pest risk models. The weather report includes daily high/low temperatures, precipitation, and potential evapotranspiration.</p>

<p>To add a site, enter a name, latitude, and longitude below, and press the 'Add' button. If you don't know the lat/long of a site, click the 'Get my location' button to get your current GPS coordinates, or look up the coordinates of a site of interest on Google maps. Site coordinates will be rounded to the nearest 0.1 decimal degree (approximately 5 miles or 8 km). You can edit a site name or location after creation by clicking on the table.</p>

<p><b>Data is available for the upper Midwest US, from 38 to 50&deg; North latitude and from -98 to -82&deg; West longitude.</b></p>

<h4>Email subscription settings</h4>

<div style="margin-left: 1em;">
  Subscribe to daily emails?
  <label>
    <div class="toggle-site">
      <div>
        <%= check_box_tag "email-toggle", @subscriber.id, @subscriber.emails_enabled %>
      </div>
      <div id="email-toggle-status" style="font-weight: bold;">
        <%= @subscriber.emails_enabled ? "Subscribed" : "Unsubscribed" %>
      </div>
    </div>
  </label>
  <% if @sites.length == 0 %>
    <br>
    <br>
    <i>Note: You must have at least one site in the list below to receive daily emails.</i>
  <% end %>
</div>

<h4>Manage your sites (listed North to South):</h4>

<div class="site-container">
  <div class="grey-box">
    <div class="sites-tbl">
      <table>
        <thead>
          <tr>
            <th>Site Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th align=center><%= @site_count > 0 ? "Subscribe?" : ""%></th>
            <th align=center>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @sites.each do |site| %>
            <tr data-site-id=<%= site.id %>>
              <td><%= best_in_place site, :name, as: :input, html_attrs: { maxlength: 25, size: 25 } %></td>
              <td><%= best_in_place site, :latitude, as: :input, html_attrs: { maxlength: 6, size: 6 } %></td>
              <td><%= best_in_place site, :longitude, as: :input, html_attrs: { maxlength: 6, size: 6 } %></td>
              <td>
                <label>
                  <div class="toggle-site">
                    <div>
                      <%= check_box_tag "site-toggle-#{site.id}", site.id, site.enabled %>
                    </div>
                    <div id=<%= "site-status-#{site.id}" %>>
                      <%= site.enabled ? "Yes" : "No" %>
                    </div>
                  </div>
                </label>
              </td>
              <td align=center>
                <button class="site-btn" onclick="window.location.href='<%= url_for(controller: :sites, action: :show, lat: site.latitude, long: site.longitude) %>'">View</button>
                <button class="site-btn" id="delete-site-<%= site.id %>">Delete</button>
              </td>
            </tr>
          <% end %>
          <tr id="add-controls">
            <%= form_tag add_site_subscriber_path(@subscriber.id), id: "submit-site" do %>
              <td><%= text_field_tag "site-name", @new_name, maxlength: 25, size: 25, required: true %></td>
              <td><%= text_field_tag "latitude", @new_lat, maxlength: 6, size: 6, required: true %></td>
              <td><%= text_field_tag "longitude", @new_long, maxlength: 6, size: 6, required: true %></td>
              <td><%= button_tag "Add" %></td>
            <% end %>
            <td><button onclick="clearSite()">Clear</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<span id="bip-notice"></span>

<div class="location-container">
  <div><button onclick="getGeoLocation()">Get my location</button></div>
  <div id="location-display"></div>
</div>

<% if @site_count > 0 %>
  <h4>Select your data subscriptions for each site:</h4>

  <div class="sub-container">
    <% @sites.each do |site| %>
      <div class="grey-box" id="site-box-<%= site.id %>" data-site-id=<%= site.id %> style="opacity: <%= site.enabled ? 1 : 0.5 %>">
        <b><%= site.name %></b>
        <p>
          <i>Weather data:</i><br>
          <% @weather_subs.each do |s| %>
            <label>
              <%= check_box_tag "sub-toggle-#{s.id}", s.id, site.subscriptions.include?(s) %>
              <%= s.name %>
            </label>
            <br>
          <% end %>
        </p>
        <p>
          <i>Degree day models:</i><br>
          <% @dd_subs.each do |s| %>
            <label>
              <%= check_box_tag "sub-toggle-#{s.id}", s.id, site.subscriptions.include?(s) %>
              <%= s.name %>
            </label>
            <br>
          <% end %>
        </p>
        <p>
          <i>Pest risk models:</i><br>
          <% @pest_subs.each do |s| %>
            <label>
              <%= check_box_tag "sub-toggle-#{s.id}", s.id, site.subscriptions.include?(s) %>
              <%= s.name %>
            </label>
            </br>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<div class="site-controls">
  <div><%= link_to("<button>Finish</button>".html_safe, root_path) %></div>
  <% if @site_count > 0 %>
    <div><%= link_to("<button>Disable all sites</button>".html_safe, unsubscribe_subscriber_path(@subscriber.id, token: @subscriber.confirmation_token)) %></div>
    <div><%= link_to("<button id='send-email' disabled>Send test email</button>".html_safe, send_email_subscriber_path(@subscriber.id, token: @subscriber.confirmation_token)) %></div>
  <% end %>
  <% if @admin %>
    <div><%= link_to("<button>Admin</button>".html_safe, admin_subscribers_path) if @admin %></div>
  <% else %>
    <div><%= link_to "<button>Delete my account</button>".html_safe, subscriber_path(@subscriber.id, token: @subscriber.confirmation_token), method: :delete, data: {confirm: "Are you sure you want to delete your account?"} %></div>
  <% end %>
  <div><%= link_to "<button>Log out</button>".html_safe, logout_subscribers_path %></div>
</div>
