<% @title = "Email Subscriptions" %>
<% @welcome_image = "awon.png" %>

<script>
  function getGeoLocation() {
    navigator.geolocation.getCurrentPosition((position) => {
    lat = position.coords.latitude.toFixed(1)
    long = position.coords.longitude.toFixed(1)
      document.getElementById("location-display").innerHTML = "Your closest lat/long coordinates are: " + lat + ", " + long
    })
  }

  setTimeout(() => {document.getElementById("send-email").disabled = false}, 5000)
</script>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Add, remove, or manage your email subscriptions here.</p>
<% end %>

<%= hidden_field_tag "subscriber_id", @subscriber.id %>
<%= hidden_field_tag "add_url", url_for(add_subscription_subscriber_path(@subscriber.id)) %>
<%= hidden_field_tag "remove_url", url_for(remove_subscription_subscriber_path(@subscriber.id)) %>
<%= hidden_field_tag "enable_url", url_for(enable_subscription_subscriber_path(@subscriber.id)) %>
<%= hidden_field_tag "disable_url", url_for(disable_subscription_subscriber_path(@subscriber.id)) %>
<%= hidden_field_tag "sub_count", @subscriber.subscriptions.count %>
<%= hidden_field_tag "delete-cross", image_path("cross.png") %>

<h2>Automated daily emails</h2>

<hr>

<b>Name: </b><%= @subscriber.name %><br>
<b>Email: </b><%= @subscriber.email %>

<p>Each morning you can receive email updates for up to 15 locations across our data coverage area. For each site we report the past week of daily high/low temperatures, precipitation, and potential evapotranspiration.</p>

<p>To add a site, enter a name, latitude, and longitude below, and press the 'Add' button. If you don't know the lat/long of a site, click the 'Get my location' button to get your current GPS coordinates, or look up the coordinates of a site of interest on Google maps. Site coordinates will be rounded to the nearest 0.1 decimal degree (approximately 5 miles or 8 km).</p>

<p>Data is available for the upper Midwest US, from 38 to 50&deg; North latitude and from -98 to -82&deg; West longitude. Any subscriptions you have will be automatically enabled on <%= Subscription.dates_active.first.strftime("%b %-d") %> and disabled on <%= Subscription.dates_active.last.strftime("%b %-d") %>, but you can enable or disable them at any time.</p>

<div class="location-container">
  <div><button onclick="getGeoLocation()">Get my location</button></div>
  <div id="location-display"></div>
</div>

<h4>Your subscriptions:</h4>

<div class="sub-box">
  <div class="tbl-container">
    <table>
      <thead>
        <tr>
          <th>Site Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th><%= @subscriber.subscriptions.size > 0 ? "Enabled?" : ""%></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @subscriber.subscriptions.order(:name).each do |subscription| %>
          <tr data-subscription-id=<%= subscription.id %>>
            <td><%= subscription.name %></td>
            <td><%= subscription.latitude %></td>
            <td><%= subscription.longitude %></td>
            <td>
              <label>
                <div class="toggle-site">
                  <div>
                    <%= check_box_tag "sub-toggle-#{subscription.id}", subscription.id, subscription.enabled %>
                  </div>
                  <div id=<%= "sub-status-#{subscription.id}" %>>
                    <%= subscription.enabled ? "Yes" : "No" %>
                  </div>
                </div>
              </label>
            </td>
            <td>
              <button class="delete-site" id="delete-site-<%= subscription.id %>">
                <div><%= image_tag("cross.png", class:'delete-cross') %></div>
                <div>Delete</div>
              </button>
            </td>
          </tr>
        <% end %>
        <tr id="add-controls">
          <td><%= text_field_tag "site_name", "", maxlength: 25, size: 25 %></td>
          <td><%= text_field_tag "latitude", "", maxlength: 6, size: 6 %></td>
          <td><%= text_field_tag "longitude", "", maxlength: 6, size: 6 %></td>
          <td><button id="submit_site" <%= @subscriber.subscriptions.count >= 15 ? "disabled" : ""%>> Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="sub-controls">
  <div><%= link_to("<button>Finish</button>".html_safe, root_path) %></div>
  <div><%= link_to("<button>Disable all subscriptions</button>".html_safe, unsubscribe_subscriber_path(@subscriber.id, token: @subscriber.confirmation_token)) %></div>
  <div><%= link_to("<button id='send-email' disabled>Send test email</button>".html_safe, send_email_subscriber_path(@subscriber.id, token: @subscriber.confirmation_token)) %></div>
  <% if @admin %>
    <div><%= link_to("<button>Admin</button>".html_safe, admin_subscribers_path) if @admin %></div>
  <% else %>
    <div><%= link_to "<button>Delete my account</button>".html_safe, subscriber_path(@subscriber.id, token: @subscriber.confirmation_token), method: :delete, data: {confirm: "Are you sure?"} %></div>
  <% end %>
  <div><%= link_to "<button>Log out</button>".html_safe, logout_subscribers_path %></div>
</div>
