<% @title = "Email Subscriptions" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
<% end %>

<input type="hidden" id="subscriber_id" value="<%= @subscriber.id %>">
<input type="hidden" id="add_url" value="<%= url_for add_subscription_subscriber_path(@subscriber.id) %>">
<input type="hidden" id="remove_url" value="<%= url_for remove_subscription_subscriber_path(@subscriber.id) %>">
<input type="hidden" id="sub_count" value="<%= @subscriber.subscriptions.count %>">
<input type="hidden" id="delete-cross" value="<%= image_path("cross.png") %>">

<h2>Manage Subscriptions</h2>

<hr>

<b>Name: </b><%= @subscriber.name %><br>
<b>Email: </b><%= @subscriber.email %>

<h3>How To Subscribe</h3>

<p>You can enter your own unique site identification, longitude and latitude  for up to 15 sites below. Note that longitude values must be entered as negative numbers. Enter latitude and longitude values below in degrees and decimal degrees rounded to the nearest 0.1°.</p>

<p>Coverage area: Latitudes from 38-50, Longitudes from -98 to -82. Check the <%= link_to "ET map", controller: :sun_water, action: :et_map %> for coverage area and click the map to get a lat/long value for any point on the map.</p>

<p>To save your input data be sure to press the “Add” button after entering each line, <u>including after the last line</u>.</p>

<div class="form-box">
  <table>
    <thead>
      <tr>
        <th>Site Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% et_product = Product.where(name: "Evapotranspiration").first %>
      <% @subscriber.subscriptions.where(product: et_product).each do |subscription| %>
        <tr>
          <td><%= subscription.name %></td>
          <td><%= subscription.latitude %></td>
          <td><%= subscription.longitude %></td>
          <td class='delete-site' data-subscription-id=<%= subscription.id %>><span>Delete Site</span> <%= image_tag("cross.png", class:'delete-cross') %></td>
        </tr>
      <% end %>
      <tr id="add-controls">
        <td><input type=text name="site_name" id="site_name" maxlength="25" size="25"/></td>
        <td><input type=text name="latitude" id="latitude" size="6"/></td>
        <td><input type=text name="longitude" id="longitude" size="6"/></td>
        <td><button id="submit_site" <%= @subscriber.subscriptions.count >= 15 ? "disabled" : ""%>> Add</button></td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<%= link_to "<button>Admin</button>".html_safe, admin_subscribers_path if @admin %>
<%= link_to "<button>Finish</button>".html_safe, logout_subscribers_path %>
