<% @title = "Email Subscriptions" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Add, remove, or manage your saved sites and daily email subscriptions here.</p>
<% end %>

<h2>Create an AgWeather account</h2>

<hr>

<% unless @subscriber.email.blank? || @subscriber.errors.any? %>
  <p><b>Subscriber not found. Would you like to enroll?</b></p>
<% end %>

<p>Please enter your name and email address to create an account. You will receive an automated email asking you to confirm your enrollment; once you've been confirmed, you can subscribe to our products at as many locations as you would like. Creating an account also lets you save sites for quick access on the <%= link_to "site data", sites_path %> pages.</p>

<div class="form-box" style="min-width: 33%">
  <b>Register new subscriber</b><br>
  <%= form_for @subscriber do |f| %>
    <p>
      <%= f.label :name %>:
      <%= f.text_field :name, required: true %>
    </p>
    <p>
      <%= f.label :email %>:
      <%= f.text_field :email, required: true, type: "email" %>
    </p>
    <%= f.submit "Register Subscriber" %>
  <% end %>
</div>

<% if @subscriber.errors.any? %>
  <div id="error_explanation">
    <b><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscription from being saved:</b>
    <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= content_for :footer do %>
  <%= link_to "Back", action: :index %>
<% end %>
