<% @title = "Email Subscriptions" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
<% end %>

<h2>Subscribe to Emails</h2>

<hr>

<% unless @subscriber.email.blank? || @subscriber.errors.any? %>
  <p><b>Subscriber not found. Would you like to enroll?</b></p>
<% end %>

<p>Please enter your name and email address to enroll as a subscriber. You will receive an automated email asking you to confirm your enrollment; once you've been confirmed, you can subscribe to our products at as many locations as you would like.</p>

<div class="form-box">
  <b>Register new subscriber</b>
  <br>
  <%= form_for @subscriber do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email, required: true, pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
    <br><br>
    <%= f.submit "Register Subscriber" %>
  <% end %>
</div>

<% if @subscriber.errors.any? %>
  <div id="error_explanation">
    <b><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscription from being saved:</b>
    <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br><%= link_to "Back", :back %>
