<% @title = "Email Subscriptions" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
<% end %>

<h2>Validate Email Address</h2>

<hr>

<h4>Validate your account</h4>

<p>To ensure you are the owner of this email address, we have sent a validation code to <b><%= @subscriber.email %></b>. Please enter the validation code you were sent in order manage your subscriptions.</p>

<br>

<%= form_tag validate_subscriber_path(@subscriber) do %>
  <%= label_tag(:validate_code, "Validation code: ") %>
  <%= text_field_tag(:validation_code) %> 
  <%= submit_tag("Validate") %>
<% end %>

<% if @subscriber.errors.any? %>
  <div class="error">
    <% @subscriber.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<br>
<br><%= link_to "Back", :back %>
