<% @title = "Evapotranspiration Map" %>
<% @welcome_image = "degree-flower.png" %>

<% content_for :welcome do %>
  <h2>Evapotranspiration</h2>
  <p>Our evapotranspiration model uses atmospheric observations from ASOS stations and satellite-derived insolation estimates to predict water use by plants.</p>
  <p>Click <%= link_to "here", subscribers_path %> to subscribe to daily ET emails or to edit an existing subscription.</p>
<% end %>

<%= javascript_include_tag "map_functions" %>

<h2><%= @title %></h2>

<hr>

<h4>Evapotranspiration map for Wisconsin and surrounding states for <%= @date %>:</h4>

<%= render partial: "partials/date_changer", locals: { action: :et_map } %>

<div id="map-container">
  <img id="map-img" src="<%= @map_image %>" alt="Evapotranspiration map" >
</div>

<div class="note">
  Note: Map color scale is based on min/max values for the entire year. Map may take a few moments to load if it hasn't already been created. <%= link_to "Download the entire grid of data in CSV format", action: :et_map, format: :csv %>.
</div>

<hr>

<h4>Get Evapotranspiration Data Time Series</h4>

<div class="note">
  Note: You can click on the map to set the latitude and longitude.
</div>

<%= render partial: "partials/grid_selector", locals: { target: "/sun_water/et_data" } %>

<div id="map-data"></div>

<hr>

<h4>ET Mailer Subscription</h4>

<p>Click <%= link_to "here", subscribers_path %> to subscribe to daily ET emails from April 1 - Sep 30, or to edit an existing subscription.</p>

<br>

<%= link_to "Back", :back %>
