<% @title = "Estimated ET for Wisconsin"%>
<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "degree_flower.png",{:width => "231", :height => "156", :alt => "Hot and Cold"} %>
  <h2><%= @title %></h2>
  <p>Our evapotranspiration model uses atmospheric observations from ASOS stations and satellite-derived
    insolation estimates to predict water use by plants.
    </p>
<% end %>

<%= content_for :scripts do %>
  <script type="text/javascript">
    function regionMap(latitude, longitude) {
      latitude = latitude.toFixed(1);
      longitude = longitude.toFixed(1);
      console.log("Clicked on " + latitude.toString() + ", " + longitude.toString())
      if (longitude > 0.0) {
        longitude = (longitude * -1.0).toFixed(1);
      }
      $('#latitude').val(latitude);
      $('#longitude').val(longitude);
      return false;
    }
  </script>
<% end %>

<h2><%= @title %></h2>

<p>
  <img
    src="<%= @map_image %>"
    alt="Yesterday's ET Estimates"
    usemap="#latlong"
    width="800px"/>
</p>
<%= render partial: 'partials/gridmap'%>

<h4>ET Time Series</h4>
<p>Note: You can click on the map to set the latitude and longitude.</p>
<%= render partial: "partials/grid_selector" %>
<p><a href="/sun_water/et_wimn.csv"> Download yesterday's entire grid of data in CSV Format</a></p>
<br>

<h4>ET Mailer Subscription</h4>
<p>Click <%= link_to "here", subscribers_path %> to subscribe to daily ET emails from April 1 - Nov 1, or to edit an existing subscription.</p>
