<% @title = "Download data series" %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png" %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<% content_for :scripts do %>
  <script>
    function copy() {
      navigator.clipboard.writeText(document.getElementById("data-container").outerHTML);
      $('#copy-confirm').fadeIn();
    }
  </script>
<% end %>

<h2><%= @title %></h2>

<hr>

<div id="data-container">
  <h4><%= @param %> data series</h4>
  <p>
    <b>Location:</b> <%= @latitude %>&deg;N, <%= @longitude %>&deg;W<br>
    <b>Date range:</b> <%= @start_date %> to <%= @end_date %><br>
    <b>Days:</b> <%= @data.size %>
  </p>
  <table class="grid-table" id="table">
    <thead>
      <tr>
        <th>Day</th>
        <th>Date</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
    <% @data.each_with_index do |day, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= day[:date] %></td>
        <td><%= day[:value] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<p>
  <%= submit_tag "Copy to clipboard", onclick: "copy()" %>
  <span id="copy-confirm" style="display:none;"> Copied!</span>
</p>

<p><%= link_to "Back", :back %></p>
