<% @title = "Download data series" %>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png",{:width => "231", :height => "180", :alt => "Gridded Map"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<h2><%= @title %></h2>
<br>

<h3><%= @param %> data</h3>
<p>
  <b>Location:</b> <%= @latitude %>&deg;N, <%= @longitude %>&deg;W<br>
  <b>Date range:</b> <%= @start_date %> to <%= @end_date %><br>
  <b>Days:</b> <%= @data.size %>
</p>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
  <% @data.each_with_index do |day, i| %>
    <tr>
      <td><%= i + 1 %>
      <td><%= day[:date] %></td>
      <td><%= day[:value] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
