<% @title = "Insolation Map"%>

<% content_for :welcome do %>
  <%= image_tag "equinox_090922_ladanyi.jpg" %>
  <h2><%= @title %></h2>
  <p>UW Space Sciences' model provides excellent insolation estimates during most of the year (snow cover looks like clouds to the satellite).</p>
<% end %>

<%= content_for :scripts do %>
  <script type="text/javascript">
    function regionMap(latitude, longitude) {
      latitude = latitude.toFixed(1);
      longitude = longitude.toFixed(1);
      console.log("Clicked on " + latitude.toString() + ", " + longitude.toString())
      $('#latitude').val(latitude);
      $('#longitude').val(longitude);
      return false;
    }
  </script>
<% end %>

<h2><%= @title %></h2>

<hr>

<h4>Insolation map for Wisconsin and surrounding states for <%= @date %>:</h4>

<%= render partial: "partials/date_changer", locals: { action: :insol_map } %>

<div class="map-img">
  <img src="<%= @map_image %>" alt="Yesterday's Insolation Estimates" usemap="#latlong" >
  <%= render partial: "partials/gridmap" %>
</div>

<p style="font-size: smaller;"><i>Note: Map color scale is based on min/max values for the entire year. Map may take a few moments to load if it hasn't already been created.</i></p>

<hr>

<h4>Insolation Data Time Series</h4>

<p style="font-size: smaller;"><i>Note: You can click on the map to set the latitude and longitude to within half a degree.</i></p>

<%= render partial: "partials/grid_selector" %>

<p><a href="/sun_water/insol_map.csv">Download the entire grid of data in CSV format</a></p>

<br>

<%= link_to "Back", :back %>
