<% @title = "Insolation Map"%>

<% content_for :welcome do %>
  <%= image_tag "equinox_090922_ladanyi.jpg" %>
  <h2><%= @title %></h2>
  <p>UW Space Sciences model provides excellent insolation estimates during most of the year (snow cover looks like clouds to the satellite).</p>
<% end %>

<%= javascript_include_tag "map_functions" %>

<h2><%= @title %></h2>

<hr>

<h4>Insolation map for Wisconsin and surrounding states for <%= @date %>:</h4>

<%= render partial: "partials/date_changer", locals: { action: :insol_map } %>

<div id="map-container">
  <img id="map-img" src="<%= @map_image %>" alt="Insolation map" >
</div>

<div class="note">
  Note: Map color scale is based on min/max values for the entire year. Map may take a few moments to load if it hasn't already been created. <%= link_to "Download the entire grid of data in CSV format", action: :insol_map, format: :csv %>.
</div>

<hr>

<h4>Get Insolation Data Time Series</h4>

<div class="note">
  Note: You can click on the map to set the latitude and longitude to within half a degree.
</div>

<%= render partial: "partials/grid_selector", locals: { target: "/sun_water/insol_data" } %>

<div id="map-data"></div>

<br>

<%= link_to "Back", :back %>
