<% @title = "Solar Insolation Map" %>
<% @welcome_image = "equinox.jpg" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>UW Space Sciences model provides excellent insolation estimates during most of the year (snow cover looks like clouds to the satellite).</p>
<% end %>

<%= javascript_include_tag "map_functions" %>
<% if @is_post %><%= javascript_include_tag "scroll_to_form" %><% end %>

<h2><%= link_to(@title, "") %></h2>

<hr>

<p>Daily solar energy amounts are estimated using data in the visible portion of the spectrum which come from the Geostationary Operational Environmental Satellites (GOES). Simple physical models of radiative transfer for the clear and cloudy atmosphere are used with these data to evaluate whether a particular location is cloudy or clear and, if cloudy, to what extent clouds have depleted the solar beam. Usually, about eight to twelve individual GOES images are used during the course of a day to make estimates of the solar energy at the satellite image times. These instantaneous estimates are later summed to produce the daily solar energy totals.</p>

<p>The gridded insolation estimates shown below are imported daily from <%= link_to "UW Madison's Space Science Engineering Center", "https://ssec.wisc.edu" %> and provided on this page for easy access. We use this data, in combination with <%= link_to "gridded daily temperature datasets", controller: :weather, action: :weather_map %>, to generate our <%= link_to "evapotranspiration estimates", action: :et_map %>.</p>

<br>

<%= render partial: "partials/map_navigator" %>

<%= render_async "map_image",
  method: "POST",
  data: { endpoint: @endpoint, id: @date, query: {units: @units, start_date: @start_date}.compact }.to_json,
  error_message: "Sorry, unable to load map. Please try again." do %>
  <%= render layout: "partials/loading" do %>
    <p>
      Date: <%= @date %><br>
      <% if @start_date %>Start date: <%= @start_date || "Not specified" %><br><% end %>
      Units: <%= @units %>
    </p>
  <% end %>
<% end %>

<div class="note">
  Note: Single-day map color scale is based on min/max values for the entire year. <%= link_to "Download the entire grid of data in CSV format", action: :insol_map, format: :csv, params: { date: @date } %>.
</div>

<hr>

<h4>Get Insolation Data Time Series</h4>

<div class="note">
  Note: You can click on the map to set the latitude and longitude to within half a degree.
</div>

<%= render partial: "partials/grid_selector", locals: { target: "/sun_water/insol_data" } %>

<div id="map-data"></div>

<br>

<%= link_to "Back", :back %>
