<% @title = "Insolation Map"%>

<% content_for :title do %>
  AgWeather: <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "equinox_090922_ladanyi.jpg" %>
  <h2><%= @title %></h2>
  <p>UW Space Sciences' model provides excellent insolation estimates during most of the year (snow cover looks like clouds to the satellite).</p>
<% end %>

<%= content_for :scripts do %>
  <script type="text/javascript">
    function regionMap(latitude, longitude) {
      latitude = latitude.toFixed(1);
      longitude = longitude.toFixed(1);
      console.log("Clicked on " + latitude.toString() + ", " + longitude.toString())
      $('#latitude').val(latitude);
      $('#longitude').val(longitude);
      return false;
    }
  </script>
<% end %>

<h2><%= @title %></h2>
<h4>Insolation map for Wisconsin and surrounding states for <%= @date %>:</h4>
<%= form_tag action: :insol_us do %>
<p>
  Previous day: <%= submit_tag @date - 1, name: :date %>&nbsp;
  Next day: <%= submit_tag @date + 1, name: :date %>&nbsp;
  Latest: <%= submit_tag Date.yesterday, name: :date %>
</p>
<% end %>

<div class="map-img">
  <img
    src="<%= @map_image %>"
    alt="Yesterday's Insolation Estimates"
    usemap="#latlong"
    />
</div>
<%= render partial: 'partials/gridmap' %>

<h4>Insolation Time Series</h4>
<p>Note: You can click on the map to set the latitude and longitude.</p>
<%# TODO: Fix grid_selector for insolation %>
<%= render partial: "partials/grid_selector" %>

<p><a href="/sun_water/insol_us.csv"> Download yesterday's entire grid of data in CSV Format</a></p>
<br>
