<% @title = "About Us" %>
<% @welcome_image = "king-hall-back-250px.png" %>

<% content_for :welcome do %>
  <h2>About Our Group</h2>
  <p>Originally developed by the UW-Madison Department of Soil Science, this site is now maintained by the Department of Entomology.</p>
  <br>
  <p><strong>Quick links:</strong></p>
  <ul>
    <li><a href="https://soils.wisc.edu/">Dept. of Soil Science</a></li>
    <li><a href="https://extension.soils.wisc.edu">Soil Science Extension</a></li>
    <li><a href="https://entomology.wisc.edu/">Dept. of Entomology</a></li>
  </ul>
<% end %>

<h2>About Us / Contact</h2>

<hr>

<p>This web site is a continuation of the hard work first started in the mid 1980's by Bill Bland, now emeritus faculty member and Rick Wayne, software developer in Department of Soil Science at UW-Madison. The data are provided free of charge to any interested parties. A primary focus of their mission was to help growers maximize their yields, minimize their costs, and assist them wherever possible as responsible stewards of our agricultural landscape. Bill has retired and Rick has accepted a new position so they are no longer involved with the site. John Panuska, Extension Specialist in Biological Systems Engineering, coordinated the site for a time, but retired in 2021.</p>

<p>Some functions of this website may not be working currently or may be permanently retired. Feel free to contact the webmaster if any bugs or broken features are found.</p>

<p>Learn more about <%= link_to "King Hall", action: :king_hall %>, home of the UW Soil Science Department.</p>

<br>

<h4>Webmaster/developer:</h4>

<div style="display: inline-flex; margin-bottom: 1.5em;">
  <div class="left">
    <%= image_tag "webmaster.png", title: "hard at work" %>
  </div>
  <div class="right">
    Ben Bradford<br>
    Department of Entomology
    <ul>
      <li><%= link_to "staff profile", "https://entomology.wisc.edu/directory/ben-bradford/" %></li>
      <li><%= link_to "entomology department", "https://entomology.wisc.edu/" %></li>
      <li><%= mail_to "agweather@cals.wisc.edu", "contact me" %></li>
    <ul>
  </div>
</div>

<h4>Site info:</h4>

Data sources:

<ul>
  <li>Weather: <%= link_to "NOAA URMA 2.5km-resolution daily grids", "https://www.nco.ncep.noaa.gov/pmb/products/rtma/" %></li>
  <li>Precipitation: <%= link_to "NOAA estimated precipitation daily grids", "https://nomads.ncep.noaa.gov/pub/data/nccf/com/pcpanl/prod/" %></li>
  <li>Solar insolation: <%= link_to "UW Space Science and Engineering Center", "https://www.ssec.wisc.edu/data/" %></li>
  <li>Evapotranspiration: Computed from weather and insolation grids using the method outlined in <%= link_to "Diak et al. 1998", "https://doi.org/10.1175/1520-0477(1998)079%3C1345:AMDADB%3E2.0.CO;2" %>.</li>
</ul>

<br>

Site structure:

<div style="overflow: auto">
  <pre>
    AgWeather backend server - <%= link_to "link to API blueprint", AgWeather::BASE_URL %> - <%= link_to "source code", "https://github.com/uwent/ag-weather" %>
      │
      ├─ Soils Ag Wx (this site) - <%= link_to "source code", "https://github.com/uwent/soils-ag-wx" %>
      │
      ├─ Vegetable Disease and Insect Forecasting Network (VDIFN) - <%= link_to "link", vdifn_url %> - <%= link_to "source code", "https://github.com/uwent/ag-vdifn" %>
      │
      └─ Wisconsin Irrigation Scheduling Program (WISP) - <%= link_to "link", wisp_url %> - <%= link_to "source code", "https://github.com/uwent/wisp" %></pre>
</div>

<p>Last updated: <%= @app_last_updated %></p>

<br>

<%= link_to "Back", :back %>
