<% content_for :welcome do %>
  <div><%= image_tag "icons/king-hall-250px.png" %></div>
  <h2>Welcome!</h2>
  <p>For ET and insolation, see <%= link_to 'Sun/Water', controller: :sun_water %>; for degree days, see <%= link_to 'Thermal Models', controller: :thermal_models %>.</p>
  <p>We offer these data so that growers and other stakeholders in our agricultural landscape can make informed decisions about management practices.</p>
  <p>Originally developed by the Department of Soil Science department, this site is currently being upgraded and maintained by the Department of Entomology.</p>
  <p><%= mail_to "agweather@cals.wisc.edu", "Contact us" %> with any questions.</p>
  <br>
  <p><%= link_to image_tag("logos/uw-logo-reverse.png", width: "100%"), "https://www.wisc.edu" %></p>
<% end %>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/weather-150px.png"), controller: :weather %>
  </div>
  <div class="text">
    <h2><%= link_to "Weather", controller: :weather %></h2>
    <p>We archive <%= link_to 'NWS HYD reports', controller: :weather, action: :hyd %>, daily weather summaries throughout Wisconsin 1995-present. Our <%= link_to "automated weather stations", controller: :awon %>, offer a continuous hourly record at Hancock and Arlington back to 1985. We integrate hourly observations at airports all over the Upper Midwest to provide <%= link_to "gridded daily temperature data", controller: :weather, action: :weather_map %>.</p>
  </div>
</div>

<div class="fineline"></div>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/sunwater-150px.png"), controller: :sun_water %>
  </div>
  <div>
    <h2><%= link_to "Sun & Water", controller: :sun_water %></h2>
    <p>We use Space Science's insolation model to derive estimates of solar radiation from satellite imagery. Combined with atmospheric data from Unidata's Internet Data Distribution project, this allows us to calculate reference evapotranspiration via the Priestley-Taylor equation to derive soil moisture and inform irrigation decisions.</p>
  </div>
</div>

<div class="fineline"></div>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/thermal-150px.png"), controller: :thermal_models %>
  </div>
  <div>
    <h2><%= link_to "Thermal Models", controller: :thermal_models %></h2>
    <p>Using our database of temperatures gridded across the Midwest, we create degree-day style thermal models for a variety of purposes such as predicting pest emergence.</p>
  </div>
</div>

<div class="fineline"></div>

<div class="row">
  <div class="left">
    <%= link_to image_tag("icons/tree-150px.png"), action: :about %>
  </div>
  <div>
    <h2><%= link_to "About/Contact", action: :about %></h2>
    <p>This site is currently managed by the Dept. of Entomology and is undergoing some updates. Feel free to contact us with inquiries or bug reports at <%= mail_to "agweather@cals.wisc.edu", "agweather@cals.wisc.edu" %>.</p>
  </div>
</div>
