<script>
  function refreshTable(form) {
    let url =
      "<%= url_for(action: :site_data_weather, lat: @lat, lng: @lng, end_date: @end_date).html_safe %>" +
      "&start_date=" +
      time_form__weather.start_date.value +
      "&units=" +
      unit_form__weather.units.value

    $.ajax({
      url: url,
      success: (response) => {
        $("#weather-data").html(response);
      }
    })
  }
</script>

<div class="site-row">
  <div class="site-box" id="weather-opts" style="display: none;">
    <div class="col-container">
      <div class="col-50">
        <h5>Units:</h5>
        <%= form_tag nil, id: "unit_form__weather" do %>
          <label><%= radio_button_tag :units, "imperial", @units == "imperial", onchange: "refreshTable(this.form)" %> Imperial (&deg;F, in, kWh/m<sup>2</sup>/day)</label>
          <label><%= radio_button_tag :units, "metric", @units == "metric", onchange: "refreshTable(this.form)" %> Metric (&deg;C, mm, mJ/m<sup>2</sup>/day)</label>
        <% end %>
      </div>
      <div class="col-50">
        <h5>Time period:</h5>
        <%= form_tag nil, id: "time_form__weather" do %>
          <% @start_date_opts.each do |name, val| %>
            <label>
              <%= radio_button_tag :start_date, val, val == @start_date, onchange: "refreshTable(this.form)" %>
              <%= name %>
            </label>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
