<div class="site-row">
  <h4>Your sites:</h4>
  <div class="site-box">
    <% if @subscriber %>
      <% if @sites %>
        <ul>
          <% @sites.each do |site| %>
            <li><strong><%= site.name %></strong>: <%= site.latitude %>, <%= site.longitude %>
            <% if @lat == site.latitude && @long = site.longitude %>
               << Current site
            <% else %>
               - <%= link_to "View site", "#{site_path}/#{site.latitude},#{site.longitude}" %></li>
            <% end %>
          <% end %>
        </ul>
        <p>Manage your saved sites, or subscribe to daily weather data emails <%= link_to "here", { controller: :subscribers, action: :manage } %>.</p>
        <% if @valid && @sites.where(latitude: @lat, longitude: @long).size == 0 %>
          <p>This location is not part of your saved sites. <%= link_to "Add it?", { controller: :subscribers, action: :manage, lat: @lat, long: @long } %></p>
        <% end %>
      <% else %>
        <p>You don't have any sites. Go to the <%= link_to "Subscriber page", controller: :subscribers %> to manage your sites.</p>
      <% end %>
    <% else %>
      <p>You aren't logged in. To save locations and easily view data or receive email updates, visit the <%= link_to "subscribers page", controller: :subscribers %>.
    <% end %>
  </div>
</div>
