<h4>Quick Links:</h4>
<ul>
  <li><%= link_to "Weather data", controller: :weather, action: :weather %></li>
  <li><%= link_to "Precipitation data", controller: :weather, action: :precip %></li>
  <li><%= link_to "Evapotranspiration data", controller: :weather, action: :et %></li>
  <li><%= link_to "Insolation data", controller: :weather, action: :insol %></li>
  <li><%= link_to "Manage subscriptions", controller: :subscribers %></li>
</ul>
