<%= javascript_include_tag "get_location" %>

<script>
  function goToSite() {
    let path = "<%= url_for(controller: :sites) %>" + `/${latitude.value},${longitude.value}`
    window.location.href = path
  }
</script>

<div class="site-row">
  <h4>Select a location manually:</h4>
  <div class="site-box">
    <%= form_tag sites_path do %>
      <div class="flex-row gap-sm">
        <div>
          <%= label_tag :latitude, "Latitude" %>
          <%= select_tag :latitude, options_for_select(latitude_labels, @lat&.to_s || default_latitude) %>
          <%= label_tag :longitude, "Longitude" %>
          <%= select_tag :longitude, options_for_select(longitude_labels, @long&.to_s || default_longitude) %>
        </div>
        <div>
          <button type="button" onclick="getGeoLocation()">Get my location</button>
          &nbsp;<span id="geo-loc-msg"></span>
        </div>
        <div>
          <button type="button" onclick="goToSite()">View selected location</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
