<%= javascript_include_tag "get_location" %>

<script>
  function goToSite() {
    let path = "<%= url_for(controller: :sites) %>" + `/${latitude.value},${longitude.value}`
    window.location.href = path
  }
</script>

<div class="site-row two-box">
  <div class="box">
    <h4>Your saved sites:</h4>
    <div class="site-box">
      <% if @subscriber %>
        <% if @sites %>
          <div class="site-list">
            <ul>
              <% @sites.each do |site| %>
                <li><strong><%= site.name %></strong>: <%= site.latitude %>, <%= site.longitude %>
                <% if (@lat == site.latitude) && (@lng == site.longitude) %>
                  <strong> << Current site</strong>
                <% else %>
                  - <%= link_to "View site", "#{url_for(controller: :sites)}/#{site.latitude},#{site.longitude}" %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
          Manage your saved sites, or subscribe to daily weather data emails <%= link_to "here", { controller: :subscribers, action: :manage } %>.
          <% if @valid && @sites.where(latitude: @lat, longitude: @lng).size == 0 %>
            This location is not part of your saved sites. <%= link_to "Add it?", { controller: :subscribers, action: :manage, lat: @lat, lng: @lng, name: "My location" } %>
          <% end %>
        <% else %>
          You don't have any sites. Go to the <%= link_to "Subscriber page", controller: :subscribers %> to manage your sites.
        <% end %>
      <% else %>
        You aren't logged in. To save locations and easily view data or receive email updates, visit the <%= link_to "subscribers page", controller: :subscribers %>.
      <% end %>
    </div>
  </div>
  <div class="box">
    <h4>Select a location manually:</h4>
    <div class="site-box">
      <%= form_tag sites_path do %>
        <div class="flex-row gap-sm">
          <div>
            <%= label_tag :latitude, "Latitude" %>
            <%= select_tag :latitude, options_for_select(latitude_labels, @lat&.to_s || default_latitude) %>
            <%= label_tag :longitude, "Longitude" %>
            <%= select_tag :longitude, options_for_select(longitude_labels, @lng&.to_s || default_longitude) %>
          </div>
          <div>
            <button type="button" onclick="getGeoLocation()">Get my location</button>
            &nbsp;<span id="geo-loc-msg"></span>
          </div>
          <div>
            <button type="button" onclick="goToSite()">View selected location</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
