<% @title = (@lat && @long && @valid) ? "Recent data for #{@lat}&deg;N, #{@long}&deg;W".html_safe : "Site data" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
  <h2>Site Data</h2>
  <p>These pages provide quick access to several kinds of recent weather data for any grid point in our datatabase. These data are updated daily from NOAA grids, who generate these data from advanced weather models that integrate real-world observations from across the country.</p>
  <%= render partial: "quick_links" %>
<% end %>

<h2><%= @title %><%= ": #{@subscriber_site.name}" if @subscriber_site %></h2>

<hr>

<p>Daily minimum, maximum, and average temperatures are computed from hourly NOAA weather grids downloaded daily at 6AM Central. These grids also supply precipitation, dew point, vapor pressure, and relative humidity readings. Solar insolation (the amount of solar radiation striking the Earth's surface) data is downloaded from the UW Space Science and Engineering Center. Potential evapotranspiration is calculated from solar insolation and temperatue values, and represents the amount of water a typical plant consumes when growing in full sun.</p>

<%= render partial: "my_sites" %>

<div class="two-box">
  <div class="col-50">
    <%= render partial: "site_selector" %>
  </div>
  <div class="col-50">
    <%= render partial: "unit_selector" %>
  </div>
</div>

<br>

<% if @valid.nil? %>
  <p>No location provided. Please select a location with the form below:</p>
<% elsif @valid == false %>
  <div class="error">Invalid site specified, try another one.</div>
<% elsif @valid %>
  <h3>Past week's weather data for <%= @lat %>&deg;N, <%= @long %>&deg;W:</h4>
  <div id="site-data">
    <%= render_async url_for({controller: :weather, action: :site_data}.merge(@weather_params)) do %>
      <p><i>Loading weather data...</i></p>
    <% end %>
  </div>
<% end %>

<%= content_for :footer do %>
  <%= link_to "Back", action: :index %>
<% end %>
