<% content_for :welcome do %>
  <h2>Site data</h2>
  <p>These pages provide quick access to several kinds of recent weather data for any grid point in our datatabase. These data are updated daily from NOAA grids, who generate these data from advanced weather models that integrate real-world observations from across the country.</p>
  <%= render partial: "quick_links" %>
<% end %>

<h2><%= @title %><%= ": #{@subscriber_site.name}" if @subscriber_site %></h2>
<p>Weather data for the past week for this location is shown below. </p>
<%= render partial: "site_selector" %>
<%= render partial: "my_sites" %>
<br>
<div class="site-row">
  <% if @valid.nil? %>
    <p>No location provided. Please select a location with the form below:</p>
  <% elsif @valid == false %>
    <div class="error">Invalid site specified, try another one.</div>
  <% elsif @valid %>
    <%= render partial: "site_data" %>
  <% end %>
</div>
<br>
<%= link_to "Back", action: :index %>
