<% @title = "Site Data" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>These pages provide quick access to several kinds of recent weather data for any grid point in our datatabase. These data are updated daily from NOAA grids, who generate these data from advanced weather models that integrate real-world observations from across the country.</p>
  <%= render partial: "quick_links" %>
<% end %>

<h2>
  <% if @valid %>
    <%= "Recent data for #{@lat}&deg;N, #{@long}&deg;W".html_safe %>
    <%= ": #{@subscriber_site.name}" if @subscriber_site %>
  <% else %>
    <%= @title %>
  <% end %>
</h2>

<hr>

<%= render "notices" %>

<p>Daily minimum, maximum, and average temperatures are computed from hourly NOAA weather grids downloaded daily at 6AM Central. These grids also supply precipitation, dew point, vapor pressure, and relative humidity readings. Solar insolation (the amount of solar radiation striking the Earth's surface) data is downloaded from the UW Space Science and Engineering Center. Potential evapotranspiration is calculated from solar insolation and temperatue values, and represents the amount of water a typical plant consumes when growing in full sun.</p>

<%= render partial: "site_selector" %>

<br>

<% if @valid.nil? %>
  <p>No location provided. Please select a location with the form below:</p>
<% elsif @valid == false %>
  <div class="error">Invalid site specified, try another one.</div>
<% elsif @valid %>
  <div class="site-data">
    <h3>Weather data<a class="tbl-options" onclick="slideElem('#weather-opts')">Table options</a></h3>
    <%= render partial: "data_opts__weather" %>
    <div id="weather-data">
      <%= render_async url_for(@weather_params) do %>
        <p><i>Loading weather data...</i></p>
      <% end %>
    </div>
    <br>
    <h3>Degree day accumulations<a class="tbl-options" onclick="slideElem('#dd-opts')">Table options</a></h3>
    <%= render partial: "data_opts__dd" %>
    <div id="dd-data">
      <%= render_async url_for(@dd_params) do %>
        <p><i>Loading degree day data...</i></p>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :footer do %>
  <%= link_to "Back", action: :index %>
<% end %>
