<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title><%= @title ? @title : "AgWeather" -%></title>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-H9J1XBG94G"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-112403097-3');
		gtag('config', 'G-H9J1XBG94G');
	</script>
  <%= csrf_meta_tags %>
	<%= javascript_include_tag "application" %>
	<%= yield :scripts -%>
  <%= stylesheet_link_tag "application" %>
	<%= yield :stylesheet -%>
</head>

<body>
	<div class="wrapper">
		<div class="nav-bar">
			<div class="nav-title">
				<h1><%= link_to "UW Extension AgWeather", controller: :navigation %></h1>
			</div>
			<div class="nav-buttons">
				<div class="nav-button" selected=<%= @tab_selected[:weather] %>>
					<%= link_to "Weather", controller: :weather %>
				</div>
				<div class="nav-button" selected=<%= @tab_selected[:sun_water] %>>
					<%= link_to "Sun/Water", controller: :sun_water %>
				</div>
				<div class="nav-button" selected=<%= @tab_selected[:thermal_models] %>>
					<%= link_to "Thermal Models", controller: :thermal_models %>
				</div>
				<div class="nav-button" selected=<%= @tab_selected[:about] %>>
					<%= link_to "About Us", controller: :navigation, action: :about %>
				</div>
			</div>
		</div>
		<div class="main-box">
			<div class="main">
				<div class="welcome-box">
					<div class="welcome-image">
						<%= image_tag @welcome_image || "potato.png" %>
					</div>
					<div class="welcome">
						<%= yield :welcome -%>
					</div>
				</div>
				<div class="content-box">
					<div class="content">
						<%= yield -%>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<p>Copyright ©<%= Date.current.year %> University of Wisconsin. All rights reserved.</p>
		</div>
	</div>
	<%= content_for :render_async %>
</body>
</html>
