<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title><%= @title ? @title : "AgWeather" -%></title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-MEH20NN6K8"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-MEH20NN6K8'); // AgWeather GA4
	</script>
  <%= csrf_meta_tags %>
	<%= javascript_include_tag "application" %>
	<%= yield :scripts %>
  <%= stylesheet_link_tag "application" %>
	<%= yield :head %>
</head>

<body>
	<div class="wrapper">
		<div class="nav-bar">
			<div class="nav-title">
				<h1><%= link_to "UW Extension AgWeather", controller: :navigation %></h1>
			</div>
			<div class="nav-buttons">
				<%= link_to controller: :weather do %>
					<div class="nav-button" selected=<%= @tab_selected[:weather] %>>Weather</div>
				<% end %>
				<%= link_to controller: :thermal_models do %>
					<div class="nav-button" selected=<%= @tab_selected[:thermal_models] %>>Thermal Models</div>
				<% end %>
				<%= link_to controller: :sites do %>
					<div class="nav-button" selected=<%= @tab_selected[:sites] %>>Site Data</div>
				<% end %>
				<%= link_to controller: :subscribers do %>
					<div class="nav-button" selected=<%= @tab_selected[:subscriptions] %>>Emails</div>
				<% end %>
				<%= link_to controller: :navigation, action: :about do %>
					<div class="nav-button" selected=<%= @tab_selected[:about] %>>About Us</div>
				<% end %>
			</div>
		</div>
		<div class="main-box">
			<div class="main">
				<div class="welcome-box">
					<div class="welcome-image">
						<%= image_tag @welcome_image || "potato.png" %>
					</div>
					<div class="welcome">
						<%= yield :welcome -%>
					</div>
				</div>
				<div class="content-box">
					<div class="content">
						<span class='bip-flash-error'></span>
						<%= yield -%>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<p>Copyright ©<%= Date.current.year %> University of Wisconsin. All rights reserved.</p>
		</div>
	</div>
	<%= content_for :render_async %>
</body>
</html>
